<!-- Edit Column -->
<ng-container cdkColumnDef="editbtn">
  <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="detailItem()">
      <mat-icon>account_box</mat-icon>
      <span>Detail View</span>
    </button>
    <button mat-menu-item (click)="editItem()" [disabled]="disabled">
      <mat-icon>mode_edit</mat-icon>
      <span>Edit Team</span>
    </button>
    <button mat-menu-item (click)="deleteItem()" [disabled]="disabled">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete Team</span>
    </button>
  </mat-menu>
</ng-container>