<div class="navbar-header">

    <div class="logo">
        <img src="assets/images/sportstool_logo_graphics/menu_logo.png">
        <!-- <span class="logo-text">Sports Tools</span> -->
    </div>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="toggleFold" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button class="toggle-button-navbar mat-icon-button" fuseNavbarVertical="closeBar" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" fusePerfectScrollbar>
    <fuse-navigation layout="vertical"></fuse-navigation>
</div>
