<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button"
                    (click)="dialogRef.close()"
                    aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
            <!--<img [src]="club.logo ? club.logo:'assets/images/avatars/team.png'" class=" avatar contact-avatar huge"-->
                 <!--[alt]="club.name"/>-->
            <!--<button type="button" class="md-raised md-primary photo-button" (click)="fileInput.click()"-->
                    <!--aria-label="add image" matTooltip="Add photo">-->
                <!--<input hidden type="file" id="FileInput" (change)="uploadLogo($event)" #fileInput>-->
                <img class="photo-icon" [src]="logoURL?logoURL:'assets/images/avatars/team.png'" [alt]="'Photo'"/>
            <!--</button>-->
            <!--<div class="contact-name">{{club.name}}</div>-->
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="clubForm">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                 <mat-form-field fxFlex="50">
                    <input matInput placeholder="Name" [(ngModel)]="club.name" formControlName="name">
                    <mat-error *ngIf="formErrors.name.required">
                        Name is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50" style="margin-left: 15px">
                    <mat-select placeholder="Sport" [(ngModel)]="club.sports" formControlName="sports" multiple>
                        <mat-option *ngFor="let sport of (sports$ | async)" [value]="sport.title">
                            {{ sport.title }}
                        </mat-option>
                        <mat-error *ngIf="formErrors.sports.required">
                            Sport is required!
                        </mat-error>
                    </mat-select>
                </mat-form-field>

            </div>

            <div formArrayName="emails" *ngFor="let item of emails.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field [formGroupName]="i" fxFlex="form.controls.emails.controls[i].controls.email.value ? {'width': '50%'} : {'width': '100%'}">
                    <input matInput formControlName="email" [(ngModel)]="clubForm.controls.emails.controls[i].controls.email.value"
                           pattern="[^@]+@[^@]+" placeholder="Email"/>
                    <!--<mat-error *ngIf="formErrors.emails.required">-->
                    <!--Email is required!-->
                    <!--</mat-error>-->
                </mat-form-field>
                <mat-form-field [formGroupName]="i" *ngIf="clubForm.controls.emails.controls[i].controls.email.value" fxFlex="35" style="margin-left: 15px">
                    <mat-select placeholder="Type" formControlName="role" [(ngModel)]="clubForm.controls.emails.controls[i].controls.role.value">
                        <mat-option [value]="'Home'">
                            Home
                        </mat-option>
                        <mat-option [value]="'Work'">
                            Work
                        </mat-option>
                        <mat-option [value]="'Other'">
                            Other
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button *ngIf="clubForm.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('email', i)">
                    <mat-icon matTooltip="Remove">close</mat-icon>
                </button>
                <button *ngIf="clubForm.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('email')">
                    <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                </button>
            </div>

            <div formArrayName="phones" *ngFor="let item of phones.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field [formGroupName]="i" fxFlex="form.controls.phones.controls[i].controls.phone.value ? {'width': '50%'} : {'width': '100%'}">
                    <input matInput formControlName="phone" [(ngModel)]="clubForm.controls.phones.controls[i].controls.phone.value"
                           pattern="[0-9]{0,}" placeholder="Phone"/>
                    <!--<mat-error *ngIf="formErrors.emails.required">-->
                    <!--Email is required!-->
                    <!--</mat-error>-->
                </mat-form-field>
                <mat-form-field [formGroupName]="i" *ngIf="clubForm.controls.phones.controls[i].controls.phone.value" fxFlex="35" style="margin-left: 15px">
                    <mat-select placeholder="Type" formControlName="role" [(ngModel)]="clubForm.controls.phones.controls[i].controls.role.value">
                        <mat-option [value]="'Home'">
                            Home
                        </mat-option>
                        <mat-option [value]="'Work'">
                            Work
                        </mat-option>
                        <mat-option [value]="'Other'">
                            Other
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button *ngIf="clubForm.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('phone', i)">
                    <mat-icon matTooltip="Remove">close</mat-icon>
                </button>
                <button *ngIf="clubForm.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('phone')">
                    <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                </button>
            </div>

            <div formArrayName="urls" *ngFor="let item of urls.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field [formGroupName]="i" fxFlex="form.controls.urls.controls[i].controls.link.value ? {'width': '85%'} : {'width': '100%'}">
                    <input matInput formControlName="link" [(ngModel)]="clubForm.controls.urls.controls[i].controls.link.value" placeholder="Url"/>
                </mat-form-field>
                <button *ngIf="clubForm.controls.urls.controls[i].controls.link.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('url', i)">
                    <mat-icon matTooltip="Remove">close</mat-icon>
                </button>
                <button *ngIf="clubForm.controls.urls.controls[i].controls.link.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('url')">
                    <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                </button>
            </div>

            <div formArrayName="socialaccounts" *ngFor="let item of socialaccounts.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field [formGroupName]="i" fxFlex="50">
                    <mat-select placeholder="Social Network" [(ngModel)]="clubForm.controls.socialaccounts.controls[i].controls.social.value" formControlName="social">
                        <mat-option [value]="socialnet.value" *ngFor="let socialnet of socialnetworks">
                            {{ socialnet.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field [formGroupName]="i" *ngIf="clubForm.controls.socialaccounts.controls[i].controls.social.value" fxFlex="35" style="margin-left: 15px">
                    <input matInput formControlName="id" [(ngModel)]="clubForm.controls.socialaccounts.controls[i].controls.id.value" placeholder="ID"/>
                </mat-form-field>
                <button *ngIf="clubForm.controls.socialaccounts.controls[i].controls.social.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('social', i)">
                    <mat-icon matTooltip="Remove">close</mat-icon>
                </button>
                <button *ngIf="clubForm.controls.socialaccounts.controls[i].controls.social.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('social')">
                    <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                </button>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="50">
                            <textarea matInput placeholder="Street Address" [(ngModel)]="club.streetaddress" formControlName="streetaddress">
                            </textarea>
                    <!--<mat-error *ngIf="formErrors.streetaddress.required">-->
                    <!--Street Address is required!-->
                    <!--</mat-error>-->
                </mat-form-field>
                <mat-form-field fxFlex="50" style="margin-left: 15px">
                    <input matInput placeholder="City" [(ngModel)]="club.city" formControlName="city">
                    <mat-error *ngIf="formErrors.city.required">
                        City is required!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="State" [(ngModel)]="club.state" formControlName="state">
                    <mat-error *ngIf="formErrors.state.required">
                        State is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50" style="margin-left: 15px">
                    <input matInput #postalCode placeholder="Postal Code" [(ngModel)]="club.postalCode" pattern="[0-9]{0,}" maxlength="5" formControlName="postalCode">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                    <mat-error *ngIf="formErrors.postalCode.maxlength">
                        Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
                    </mat-error>
                    <mat-error *ngIf="formErrors.postalCode.required">
                        Postal Code is required!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Country" aria-label="Country" [(ngModel)]="club.country" [matAutocomplete]="auto" formControlName="country">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountries" [value]="country.Name">
                            <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
                            <span>{{country.Name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formErrors.country.required">
                        Country is required!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100">
              <textarea matInput placeholder="Club Description" [(ngModel)]="club.description" formControlName="description">
                            </textarea>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex="100">
                    <mat-select placeholder="Adaptive" [(ngModel)]="club.adaptive.status" formControlName="adaptive_status">
                        <mat-option [value]="'yes'" fxFlex="100">
                            Yes
                        </mat-option>
                        <mat-option [value]="'no'" fxFlex="100">
                            No
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-list class="ml-24" *ngIf="club.adaptive.status == 'yes'" fxFlex="100">
                    <mat-list-item formArrayName="adaptive_items" fxLayout="row" *ngFor="let item of adaptive_items.controls; let i = index;">
                        <div [formGroupName]="i">
                            <div class="adaptitem" fxFlex="50">
                                <mat-checkbox [(ngModel)]="clubForm.controls.adaptive_items.controls[i].controls.status.value" formControlName="status">
                                    {{clubForm.controls.adaptive_items.controls[i].controls.name.value}}
                                </mat-checkbox>
                            </div>
                            <div *ngIf="clubForm.controls.adaptive_items.controls[i].controls.status.value" class="adaptvalue" fxFlex="50">
                                <p>Mild</p>
                                <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [(ngModel)]="clubForm.controls.adaptive_items.controls[i].controls.value.value" formControlName="value"></mat-slider>
                                <p>Severe</p>
                                <p class="ml-20">{{clubForm.controls.adaptive_items.controls[i].controls.value.value}}</p>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>

            <div class="mb-24 ml-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field *ngIf="club.adaptive.status == 'yes'" fxFlex="100">
              <textarea matInput placeholder="Adaptive Note" [(ngModel)]="club.adaptive.note" formControlName="adaptive_note">
                            </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="mb-24" fxLayoutAlign="start start">
                <div style="padding: 24px" >
                    <img class="profile-icon" [src]="logoURL ? logoURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
                </div>
                <div>
                    <h1>Logo</h1>
                    <p>
                        You can upload a logo from <a [routerLink]="" (click)="fileInput.click()">here</a>.<br>
                        You can take a selfie using your web camera from <a [routerLink]="" (click)="cameracapture()">here</a>.<br>
                    </p>
                    <input hidden type="file" accept="image/*" capture="camera" (change)="selectlogo($event)" #fileInput>
                </div>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">


        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close([clubForm, club, selectedFiles])"
                class="save-button mat-accent"
                [disabled]="clubForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>
