<!--&lt;!&ndash;<div class="filter-header">&ndash;&gt;-->
    <!--<mat-accordion>-->
        <!--<mat-expansion-panel>-->
            <!--<mat-expansion-panel-header>-->
                <!--<mat-panel-title>-->
                    <!--Search option-->
                <!--</mat-panel-title>-->
                <!--<mat-panel-description>-->
                    <!--<p *ngIf="filter.name">Name: {{filter.name}}</p>&nbsp;-->
                    <!--<p *ngIf="filter.country">Country: {{filter.country}}</p>&nbsp;-->
                    <!--<p *ngIf="filter.age">Age: {{filter.age}}</p>&nbsp;-->
                    <!--<p *ngIf="filter.gender">Gender: {{filter.gender}}</p>&nbsp;-->
                <!--</mat-panel-description>-->
            <!--</mat-expansion-panel-header>-->
            <!--<mat-form-field fxFlex="35">-->
                <!--<input matInput type="text" (ngModelChange)="applyFilter('name', $event)" [(ngModel)]="filter.name" placeholder="Filter by Name">-->
            <!--</mat-form-field>-->

            <!--<mat-form-field fxFlex="35">-->
                <!--<input matInput type="text" placeholder="Country" (ngModelChange)="applyFilter('country', $event)"-->
                       <!--[(ngModel)]="filter.country" [matAutocomplete]="auto" >-->
                <!--<mat-autocomplete #auto="matAutocomplete">-->
                    <!--<mat-option *ngFor="let country of filteredCountries" [value]="country.Name">-->
                        <!--<span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>-->
                        <!--<span>{{country.Name}}</span>-->
                    <!--</mat-option>-->
                <!--</mat-autocomplete>-->
            <!--</mat-form-field>-->

            <!--<mat-form-field fxFlex="15">-->
             <!--<input matInput type="number" (ngModelChange)="applyFilter('age', $event)" [ngModel]="filter.age" placeholder="Age" pattern="[0-9]{0,}" maxlength="2">-->
            <!--</mat-form-field>-->

            <!--<mat-form-field fxFlex="15">-->
                <!--<mat-select placeholder="Gender" (ngModelChange)="applyFilter('gender', $event)" [ngModel]="filter.gender">-->
                    <!--<mat-option [value]="''">-->
                    <!--Any-->
                    <!--</mat-option>-->
                    <!--<mat-option [value]="'boy'">-->
                     <!--Boy-->
                    <!--</mat-option>-->
                    <!--<mat-option [value]="'girl'">-->
                    <!--Girl-->
                    <!--</mat-option>-->
                <!--</mat-select>-->
            <!--</mat-form-field>-->
        <!--</mat-expansion-panel>-->
    <!--</mat-accordion>-->

    <!--<mat-table #table [dataSource]="dataSource"-->
             <!--[@animateStagger]="{value:'50'}" matSort>-->
      <!--&lt;!&ndash; Avatar Column &ndash;&gt;-->
      <!--<ng-container cdkColumnDef="avatar">-->
          <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>-->
          <!--<mat-cell *cdkCellDef="let user">-->
              <!--<img class="avatar" [src]="user.logo ? user.logo.url:'assets/images/avatars/profile.jpg'" [alt]="'Photo'">-->
          <!--</mat-cell>-->
      <!--</ng-container>-->

    <!--&lt;!&ndash;Name Column&ndash;&gt;-->
    <!--<ng-container cdkColumnDef="nickName">-->
      <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.nickName}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; gender Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="gender">-->
      <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Gender</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.gender}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; age Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="age">-->
      <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Age</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.age}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; role Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="role">-->
      <!--<mat-header-cell *cdkHeaderCellDef>Role</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.roles}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; sports Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="sports">-->
      <!--<mat-header-cell *cdkHeaderCellDef>Sports</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.sports}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; state Column &ndash;&gt;-->
    <!--<ng-container cdkColumnDef="date_create">-->
      <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Create Date</mat-header-cell>-->
      <!--<mat-cell *cdkCellDef="let user">-->
        <!--<p class="text-truncate font-weight-600">{{user.date_create| date:'MM/dd/yyyy'}}</p>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->

        <!--&lt;!&ndash; Edit Column &ndash;&gt;-->
        <!--<ng-container cdkColumnDef="editbtn">-->
            <!--<mat-header-cell *cdkHeaderCellDef></mat-header-cell>-->
            <!--<mat-cell *cdkCellDef="let user">-->
                <!--&lt;!&ndash;<mat-checkbox [(ngModel)]="edit[user.id]" (ngModelChange)="onSelectedChange(user.id)"&ndash;&gt;-->
                <!--&lt;!&ndash;(click)="$event.stopPropagation()">&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-checkbox>&ndash;&gt;-->
                <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
                    <!--<mat-icon>more_vert</mat-icon>-->
                <!--</button>-->
                <!--<mat-menu #menu="matMenu">-->
                    <!--<button mat-menu-item (click)="detailUser(user)">-->
                        <!--<mat-icon>account_box</mat-icon>-->
                        <!--<span>Detail View</span>-->
                    <!--</button>-->
                    <!--<button mat-menu-item [disabled]="(currentUserID === user.uid)? false: true" (click)="editUser(user)">-->
                        <!--<mat-icon>mode_edit</mat-icon>-->
                        <!--<span>Edit User</span>-->
                    <!--</button>-->
                    <!--<button mat-menu-item [disabled]="(currentUserID === user.uid)? false: true" (click)="deleteUser(user)">-->
                        <!--<mat-icon>delete_forever</mat-icon>-->
                        <!--<span>Delete User</span>-->
                    <!--</button>-->
                <!--</mat-menu>-->
            <!--</mat-cell>-->
        <!--</ng-container>-->
    <!--&lt;!&ndash;<ng-container cdkColumnDef="edit">&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-icon-button [matMenuTriggerFor]="menu">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon>more_vert</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-menu #menu="matMenu">&ndash;&gt;-->
            <!--&lt;!&ndash;<button mat-menu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon>dialpad</mat-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>Redial</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button mat-menu-item disabled>&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon>voicemail</mat-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>Check voicemail</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button mat-menu-item>&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon>notifications_off</mat-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>Disable alerts</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->
    <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->


    <!--&lt;!&ndash; Buttons Column &ndash;&gt;-->
    <!--&lt;!&ndash;<ng-container cdkColumnDef="buttons">&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-header-cell *cdkHeaderCellDef></mat-header-cell>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-cell *cdkCellDef="let user">&ndash;&gt;-->
        <!--&lt;!&ndash;<div fxFlex="row" fxLayoutAlign="end center">&ndash;&gt;-->
          <!--&lt;!&ndash;<button mat-icon-button (click)="$event.stopPropagation();toggleStar(user.uid)" aria-label="Toggle star">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<mat-icon *ngIf="user.starred.includes(contact.id)">star</mat-icon>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<mat-icon *ngIf="!user.starred.includes(contact.id)">star_outline</mat-icon>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->

          <!--&lt;!&ndash;<button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"&ndash;&gt;-->
                  <!--&lt;!&ndash;(click)="$event.stopPropagation();">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon>more_vert</mat-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->

          <!--&lt;!&ndash;<mat-menu #moreMenu="matMenu">&ndash;&gt;-->
            <!--&lt;!&ndash;<button mat-menu-item aria-label="remove" (click)="deleteContact(user)">&ndash;&gt;-->
              <!--&lt;!&ndash;<mat-icon>delete</mat-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;<span>Remove</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</mat-cell>&ndash;&gt;-->
    <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

    <!--<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *cdkRowDef="let user; columns: displayedColumns;"-->
             <!--class="contact">-->
    <!--</mat-row>-->
        <!--&lt;!&ndash;<mat-row *cdkRowDef="let user; columns: displayedColumns;"&ndash;&gt;-->
                 <!--&lt;!&ndash;class="contact"&ndash;&gt;-->
                 <!--&lt;!&ndash;matRipple&ndash;&gt;-->
                 <!--&lt;!&ndash;[@animate]="{value:'*',params:{y:'100%'}}">&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-row>&ndash;&gt;-->
  <!--</mat-table>-->

    <!--<mat-paginator #paginator-->
                   <!--[pageSize]="10"-->
                   <!--[pageSizeOptions]="[5, 10, 20]">-->
    <!--</mat-paginator>-->

<ag-grid-angular
        style="width: 100%; height: 100%; padding: 10px"
        id="myGrid"
        class="ag-theme-material"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableColResize]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents"
        rowSelection="multiple"
        [context]="context"
>
</ag-grid-angular>




