$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
.flag-icon {
  width: 50px;
  height: auto;
}

fuse-user-list {
  flex: 1;

  .filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  //.mat-paginator-page-size-label {
  //  display: inline-table;
  //}
  .mat-table {
    background: transparent;
    box-shadow: none;
    overflow: auto;
    max-height: 500px;

    .mat-column-checkbox {
      flex: 0 1 48px;

      .mat-checkbox-ripple {
        display: none !important; //fix for broken rendering
      }
    }

    .mat-column-avatar {
      flex: 0 1 64px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .mat-row {
      position: relative;
      cursor: pointer;
      padding: 8px 8px 8px 24px;

      .mat-cell {
        min-width: 0;

        &.mat-column-detail-button {
          flex: 0 1 auto;
          padding: 0 24px 0 0;
          //@include media-breakpoint('gt-md') {
          //  display: none;
          //}
        }
      }
    }
  }
}
