<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <a routerLink="/home">
                    <mat-icon class="secondary-text s-16">home</mat-icon>
                </a>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Create-Schedule</span>
            </div>
            <div class="h1 mt-16">Create Schedule</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="h1">
            Create a Schedule
        </div>

        <p class="pt-16 pb-32">
            Here a Manager, Owner, Coach can create a schedule. A league, a tournament or a recurring event like a camp.
        </p>

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->


            <!-- <form (ngSubmit)="shiftAssign(shift)" #fShift="ngForm"></form> -->


            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                [formGroup]="form">

                <div class="h2 mb-24">Schedule Information</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Schedule Name" formControlName="scheduleName" required>
                        <mat-error *ngIf="formErrors.scheduleName.required">
                            Schedule Name is required!
                        </mat-error>
                    </mat-form-field>



                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nunber of Teams" formControlName="numTeams">
                    </mat-form-field>


                    <mat-form-field fxFlex="50">
                      <input matInput placeholder="Nunber of Games" formControlName="numGames">
                  </mat-form-field>

                  <mat-form-field fxFlex="50">
                    <input matInput placeholder="Start Date" formControlName="startDate">
                </mat-form-field>

  <mat-form-field fxFlex="50">
                        <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Birthday" required>
                        <mat-error *ngIf="formErrors.birthday.required">
                            Birthday is required!
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>






                <mat-form-field fxFlex="50">
                  <input matInput placeholder="End Date" formControlName="endDate">
              </mat-form-field>

              <mat-form-field fxFlex="50">
                <input matInput placeholder="Event Type" formControlName="eventType">
            </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>





                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>



                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="Sport of Interest" formControlName="sports">
                    </mat-form-field>

                </div>







                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>





                </div>

                <



            </form>


            <!-- / REACTIVE FORM EXAMPLE -->

            <div class="form-errors-model mat-white-bg p-24 mat-elevation-z4">

                <div class="h2 mb-24">Reactive Form Errors Model</div>

                <pre><code>{{ form.value | json}}</code></pre>

                <p>Validation status: {{ form.status }}</p>

                <pre><code>{{formErrors | json}}</code></pre>
            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>
