<script src='https://www.google.com/recaptcha/api.js'></script>
<div id="login" fxLayout="column" fusePerfectScrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo" style="width: 200px">
                <img src="assets/images/sportstool_logo_graphics/hd1.jpg">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onLoginEmail()" class="login-form1">

                <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="email" formControlName="email">
                    <mat-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="password" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/forgot-password'">
                        Forgot Password?
                    </a>
                </div>
                <!--<re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6LcC0FEUAAAAAGTwUL8GCU8b0_i8z03dv3NpwFcJ"></re-captcha>-->
                <re-captcha class="captchaRef" (captchaResponse)="resolved($event)" site_key="6LcC0FEUAAAAAGTwUL8GCU8b0_i8z03dv3NpwFcJ"
                            style="-moz-transform:scale(0.77); -ms-transform:scale(0.77); -o-transform:scale(0.77); -moz-transform-origin:0; -ms-transform-origin:0; -o-transform-origin:0; -webkit-transform:scale(0.77); transform:scale(0.77); -webkit-transform-origin:0 0; transform-origin:0; filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');"></re-captcha>

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid || checkBot">
                    LOGIN
                </button>

            </form>
            <div style="color: red;">
                {{errorMessage}}
            </div>
            <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button (click)="loginwithGoogle()" class="google"
                    [disabled]="checkBot">
                Log in with Google
            </button>

            <button mat-raised-button (click)="loginwithFacebook()" class="facebook"
                    [disabled]="checkBot">
                Log in with Facebook
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/register'">Create an account</a>
            </div>

        </div>

    </div>

</div>