<div id="clubs" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="header mat-accent-bg p-15 h-70" style="min-height: 60px; height: 60px" fxLayout="row" fxLayoutAlign="start center">
        <!-- APP TITLE -->
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" style="margin-left: 50px;" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Clubs</span>
        </div>
    </div>
    <!-- / HEADER -->

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center p-24 pb-56" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content mat-white-bg mat-elevation-z4">

                <fuse-club-list [currentUserID] = "currentUserID"></fuse-club-list>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>

<!-- ADD CLUB BUTTON -->
<!--<button mat-fab class="mat-accent-bg" id="add-team-button" (click)="newClub()" aria-label="add club"-->
        <!--*fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}" [disabled]="currentUserID?false:true">-->
    <!--<mat-icon>group_add</mat-icon>-->
<!--</button>-->
<!-- / ADD CLUB BUTTON -->
