@import "src/app/core/scss/fuse";

:host {

  #register {
    width: 100%;
    overflow: auto;
    background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
    background-size: cover;

    #register-form-wrapper {
      flex: 1 0 auto;
      //padding: 32px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 32px;
      padding-right: 32px;
      @include media-breakpoint('xs') {
        padding: 16px;
      }

      #register-form {
        width: 384px;
        max-width: 384px;
        //padding: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        padding-right: 32px;
        background: #FFFFFF;
        text-align: center;
        @include mat-elevation(16);

        @include media-breakpoint('xs') {
          padding: 20px;
          width: 100%;
        }

        .logo {
          width: 128px;
          margin: 5px auto;
        }

        .title {
          font-size: 20px;
          margin: 10px 0 20px 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          mat-checkbox {
            margin: 0;
          }

          .terms {
            margin: 16px 0 32px 0;

            a {
              font-size: 16px;
              margin-left: 4px;
            }
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;

            @include media-breakpoint('xs') {
              width: 90%;
            }
          }
        }

        .register {
          margin: 32px auto 24px auto;
          font-weight: 500;

          .text {
            margin-right: 8px;
          }
        }

        .separator {
          font-size: 15px;
          font-weight: 600;
          margin: 24px auto;
          position: relative;
          overflow: hidden;
          width: 100px;
          color: rgba(0, 0, 0, 0.54);

          .text {
            display: inline-flex;
            position: relative;
            padding: 0 8px;
            z-index: 9999;

            &:before, &:after {
              content: '';
              display: block;
              width: 30px;
              position: absolute;
              top: 10px;
              border-top: 1px solid rgba(0, 0, 0, 0.12);
            }

            &:before {
              right: 100%;
            }

            &:after {
              left: 100%;
            }
          }
        }

        button {

          &.google,
          &.facebook {
            width: 192px;
            text-transform: none;
            color: #FFFFFF;
            font-size: 13px;
          }

          @include media-breakpoint('xs') {
            width: 80%;
          }

          &.google {
            background-color: #D73D32;
            margin-bottom: 8px;
          }

          &.facebook {
            background-color: rgb(63, 92, 154);
          }
        }
      }
    }
  }
}

:host /deep/ .mat-checkbox-inner-container {
  height:15px;
  width:15px;
}

:host /deep/ .mat-checkbox-layout {
  font-size: 15px;
  font-weight: 500;
}