<div class="card">
  <div class="content text-center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ack-webcam class="text-center"
                [(ref)]   = "webcam"
                [options] = "options"
                (success) = "onCamSuccess($event)"
                (catch)   = "onCamError($event)"
        ></ack-webcam>
      </div>
    <p *ngIf="!cameraState">No Camera device</p>
    <button type="button" mat-raised-button (click)="uploadimage($event)">Take Photo</button>
  </div>
</div>

