@import "src/app/core/scss/fuse";

$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
.flag-icon {
  width: 50px;
  height: auto;
}

.contact-form-dialog {

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint-up('xs') {
    width: 600px;
  }

  .mat-dialog-container {
    padding: 0;
    overflow: hidden;

    .mat-toolbar {
      min-height: initial;
    }

    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  .photo-button {
    width: 200px;
    height: 150px;
    border-radius: 50%;
  }

  .photo-icon{
    padding: 0;
    width: 150px;
    min-width: 100px;
    height: 150px;
    line-height: 100px;
    margin: 0 8px 0 0;
    //border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #449FDB;
    z-index: 50;
    box-shadow: 0 3px 1px -2px rgba(20, 27, 20, 0.82), 0 2px 2px 0 rgba(2, 5, 23, 0.92), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  .profile-icon{
    padding: 0;
    width: 100px;
    min-width: 100px;
    //height: 150px;
    line-height: 100px;
    margin: 0 8px 0 0;
    //border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #449FDB;
    z-index: 50;
    box-shadow: 0 3px 1px -2px rgba(20, 27, 20, 0.82), 0 2px 2px 0 rgba(2, 5, 23, 0.92), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  .adaptitem {
    min-width: 200px;
  }
  .adaptvalue {
    display: flex;
    min-width: 200px;
  }
}