<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-button class="mat-icon-button"
              (click)="dialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
      <!--<img [src]="club.logo ? club.logo:'assets/images/avatars/team.png'" class=" avatar contact-avatar huge"-->
      <!--[alt]="club.name"/>-->
      <!--<button type="button" class="md-raised md-primary photo-button" (click)="fileInput.click()"-->
              <!--aria-label="add image" matTooltip="Add photo">-->
        <!--<input hidden type="file" id="FileInput" (change)="uploadLogo($event)" #fileInput>-->
        <img class="photo-topicon" [src]="logoURL?logoURL:'assets/images/avatars/team.png'" [alt]="'Photo'"/>
      <!--</button>-->
      <!--<div class="contact-name">{{user.nickName}}</div>-->
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form [formGroup]="form" name="form" novalidate>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="First name" [(ngModel)]="user.firstName" formControlName="firstName">
          <mat-error *ngIf="formErrors.firstName.required">
            First Name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <input matInput placeholder="Last name" [(ngModel)]="user.lastName" formControlName="lastName">
          <mat-error *ngIf="formErrors.lastName.required">
            Last Name is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Nickname" [(ngModel)]="user.nickName" formControlName="nickName">
        </mat-form-field>

        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <mat-select placeholder="Gender" [(ngModel)]="user.gender" formControlName="gender">
            <mat-option [value]="'boy'">
              Boy
            </mat-option>
            <mat-option [value]="'girl'">
              Girl
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.gender.required">
            Gender is required!
          </mat-error>
        </mat-form-field>

      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthday" formControlName="birthday" placeholder="Birthday  MM/DD/YYYY">
          <mat-error *ngIf="formErrors.birthday.required">
            Birthday is required!
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <div style="margin-left: 50px">Your age is:
          <strong>{{ user.age }}</strong>
        </div>

      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="City of Birth (Recommended)" [(ngModel)]="user.cityOfBirth" formControlName="cityOfBirth">
        </mat-form-field>

        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <input matInput placeholder="Country of Birth (Recommended)" [(ngModel)]="user.countryOfBirth" formControlName="countryOfBirth">
        </mat-form-field>

      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <mat-select placeholder="Roles" [(ngModel)]="user.roles" formControlName="roles" multiple>
            <mat-option [value]="roles.title" *ngFor="let roles of (roles$ | async)">
              {{ roles.title }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formErrors.roles.required">
            Role is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <mat-select placeholder="Sport" [(ngModel)]="user.sports" formControlName="sports" multiple>
            <mat-option *ngFor="let sport of (sports$ | async)" [value]="sport.title">
              {{ sport.title }}
            </mat-option>
            <mat-error *ngIf="formErrors.sports.required">
              Sport is required!
            </mat-error>
          </mat-select>
        </mat-form-field>

      </div>

      <div formArrayName="emails" *ngFor="let item of emails.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field [formGroupName]="i" fxFlex="form.controls.emails.controls[i].controls.email.value ? {'width': '50%'} : {'width': '100%'}">
          <input matInput formControlName="email" [(ngModel)]="form.controls.emails.controls[i].controls.email.value"
                 pattern="[^@]+@[^@]+" placeholder="Email"/>
        </mat-form-field>
        <mat-form-field [formGroupName]="i" *ngIf="form.controls.emails.controls[i].controls.email.value" fxFlex="35" style="margin-left: 15px">
          <mat-select placeholder="Type" formControlName="role" [(ngModel)]="form.controls.emails.controls[i].controls.role.value">
            <mat-option [value]="'Home'">
              Home
            </mat-option>
            <mat-option [value]="'Work'">
              Work
            </mat-option>
            <mat-option [value]="'Other'">
              Other
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="form.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('email', i)">
          <mat-icon matTooltip="Remove">close</mat-icon>
        </button>
        <button *ngIf="form.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('email')">
          <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
        </button>
      </div>

      <div formArrayName="phones" *ngFor="let item of phones.controls; let i = index;" class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field [formGroupName]="i" fxFlex="form.controls.phones.controls[i].controls.phone.value ? {'width': '50%'} : {'width': '100%'}">
          <input matInput formControlName="phone" [(ngModel)]="form.controls.phones.controls[i].controls.phone.value"
                 pattern="[0-9]{0,}" placeholder="Phone"/>
          <!--<mat-error *ngIf="formErrors.emails.required">-->
          <!--Email is required!-->
          <!--</mat-error>-->
        </mat-form-field>
        <mat-form-field [formGroupName]="i" *ngIf="form.controls.phones.controls[i].controls.phone.value" fxFlex="35" style="margin-left: 15px">
          <mat-select placeholder="Type" formControlName="role" [(ngModel)]="form.controls.phones.controls[i].controls.role.value">
            <mat-option [value]="'Home'">
              Home
            </mat-option>
            <mat-option [value]="'Work'">
              Work
            </mat-option>
            <mat-option [value]="'Other'">
              Other
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="form.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('phone', i)">
          <mat-icon matTooltip="Remove">close</mat-icon>
        </button>
        <button *ngIf="form.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('phone')">
          <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
        </button>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
                            <textarea matInput placeholder="Address" [(ngModel)]="user.address" formControlName="address">
                            </textarea>
          <mat-error *ngIf="formErrors.address.required">
            Address is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <textarea matInput placeholder="Address 2" [(ngModel)]="user.address2" formControlName="address2"></textarea>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="City" [(ngModel)]="user.city" formControlName="city">
          <mat-error *ngIf="formErrors.city.required">
            City is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <input matInput placeholder="State" [(ngModel)]="user.state" formControlName="state">
          <mat-error *ngIf="formErrors.state.required">
            State is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="50">
          <input matInput placeholder="Country" aria-label="Country" [(ngModel)]="user.country" [matAutocomplete]="auto" formControlName="country">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of filteredCountries" [value]="country.Name">
              <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
              <span>{{country.Name}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formErrors.country.required">
            Country is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50" style="margin-left: 15px">
          <input matInput #postalCode placeholder="Postal Code" [(ngModel)]="user.postalCode" pattern="[0-9]{0,}" maxlength="5" formControlName="postalCode">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          <mat-error *ngIf="formErrors.postalCode.maxlength">
            Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
          </mat-error>
          <mat-error *ngIf="formErrors.postalCode.required">
            Postal Code is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Adaptive" [(ngModel)]="user.adaptive.status" formControlName="adaptive_status">
            <mat-option [value]="'yes'" fxFlex="100">
              Yes
            </mat-option>
            <mat-option [value]="'no'" fxFlex="100">
              No
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-list class="ml-24" *ngIf="user.adaptive.status == 'yes'" fxFlex="100">
          <mat-list-item formArrayName="adaptive_items" fxLayout="row" *ngFor="let item of adaptive_items.controls; let i = index;">
            <div [formGroupName]="i">
              <div class="adaptitem" fxFlex="50">
                <mat-checkbox [(ngModel)]="form.controls.adaptive_items.controls[i].controls.status.value" formControlName="status">
                  {{form.controls.adaptive_items.controls[i].controls.name.value}}
                </mat-checkbox>
              </div>
              <div *ngIf="form.controls.adaptive_items.controls[i].controls.status.value" class="adaptvalue" fxFlex="50">
                <p>Mild</p>
                <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [(ngModel)]="form.controls.adaptive_items.controls[i].controls.value.value" formControlName="value"></mat-slider>
                <p>Severe</p>
                <p class="ml-20">{{form.controls.adaptive_items.controls[i].controls.value.value}}</p>
              </div>
              <mat-divider></mat-divider>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="mb-24 ml-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field *ngIf="user.adaptive.status == 'yes'" fxFlex="100">
              <textarea matInput placeholder="Adaptive Note" [(ngModel)]="user.adaptive.note" formControlName="adaptive_note">
                            </textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" class="mb-24" fxLayoutAlign="start start">
        <div style="padding: 24px" >
          <img class="profile-icon" [src]="logoURL ? logoURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
        </div>
        <div>
          <h1>ID Card Picture</h1>
          <p>We need a full face photo for your ID;<br>
            You can upload a picture from <a [routerLink]="" (click)="fileInput.click()">here</a>.<br>
            You can take a selfie using your web camera from <a [routerLink]="" (click)="cameracapture()">here</a>.<br>
          </p>
          <input hidden type="file" id="FileInput" accept="image/*" capture="camera" (change)="selectlogo($event)" #fileInput>
        </div>
      </div>

      <div fxLayout="row" class="mb-24" fxLayoutAlign="start start">
        <div style="padding: 24px" >
          <img class="profile-icon" [src]="docURL ? docURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
        </div>
        <div>
          <h1>Documents</h1>
          <p>We need a copy of a government identification to confirm your identity;<br>
            (this can be drivers license, passport, birth certificate) NO school ID’s.<br>
            You can upload an ID document scan from <a [routerLink]="" (click)="docInput.click()">here</a>.<br>
            You can take a photo of your id using your web camera from <a [routerLink]="" (click)="doccameracapture()">here</a>.<br>
          </p>
          <input hidden type="file" id="DocInput" accept="image/*" capture="camera" (change)="selectDoc($event)" #docInput>
        </div>
      </div>

    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <!--<button *ngIf="action !=='edit'"-->
            <!--mat-raised-button-->
            <!--(click)="dialogRef.close([form, user, selectedFiles, selectedDocFiles])"-->
            <!--class="save-button mat-accent"-->
            <!--[disabled]="form.invalid"-->
            <!--aria-label="SAVE">-->
      <!--SAVE-->
    <!--</button>-->

    <button *ngIf="action ==='edit'"
            mat-raised-button
            (click)="dialogRef.close([form, user, selectedFiles, selectedDocFiles])"
            class="save-button mat-accent"
            [disabled]="form.invalid"
            aria-label="SAVE">
      SAVE
    </button>

  </div>
</div>
