$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";


#cards {

    .content {
        overflow: hidden;
    }
}

.example-card {
    width: 90%;
    min-height: 670px;
    max-width: 400px;
}
.id-card-holder {
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
    width: 100%;
}
.id-card {
    min-height: 600px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
    //background: url("/assets/images/sportstool_logo_graphics/card_back.jpg");
    .header1 {
        display: inline-flex;
        width: 100%;
        .logo {
            width: 100px;
        }
        .gender {
            float: left;
            width: 35px;
            padding-top: 12px;
        }
        .age {
            color: #747577;
            padding-left: 10px;
            padding-top: 5px;
            width: 30%;
            min-width: 20px;
        }
        .flag-icon {
            width: 70px;
            height: 60px;
            max-width: 80%;
            min-width: 30px;
        }
    }
}
.id-card img {
    //margin: 0 auto;
}
.mark {
    position: relative;
    float: right;
    margin-top: -10%;
    margin-right: -10%;
    z-index: 100;
}
.mark img {
    min-width: 40px;
    min-height: 40px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.photo {
    width: 100%;
    min-height: 200px;
}
.photo img {
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    z-index: 50;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
h1 {
    font-size: 30px;
    margin: 5px 0;
    font-weight: 600;
}
h2 {
    font-size: 25px;
    margin: 5px 0;
    font-weight: 400;
}
h3 {
    font-size: 15px;
    margin: 2.5px 0;
    font-weight: 300;
}
.qr-code img {
    width: 100%;
}
.mat-elevation-z2 {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
