<div id="cards" class="page-layout" fusePerfectScrollbar>
    <mat-sidenav-container>
        <div class="center" fusePerfectScrollbar>
                <mat-card class="example-card" *ngIf="user">
                    <div class="id-card-holder">
                        <div class="id-card">
                            <div class="header1">
                                <div class="" style="width: 100%">
                                    <img class="logo" [src]="'assets/images/sportstool_logo_graphics/png1.png'">
                                </div>
                                <div style="margin-left: 10px; width: 50%">
                                    <img *ngIf="user.gender === 'boy'" class="gender" [src]="'assets/images/sportstool_logo_graphics/boy.png'">
                                    <img *ngIf="user.gender === 'girl'" class="gender" [src]="'assets/images/sportstool_logo_graphics/girl.png'">
                                </div>
                                <div class="age">
                                    <h1>{{user.age}}</h1>
                                </div>
                                <div *ngIf="countrycode" style="margin-left: 10px; width: 30%;">
                                    <span class="flag-icon flag-icon-{{countrycode}}" style="vertical-align:middle;"></span>
                                </div>
                            </div>
                            <div style="display: inline-block; width: 100%; min-height: 100px">
                                <div class="photo">
                                    <img [src]="user.logo ? user.logo.url:'assets/images/avatars/profile.jpg'">
                                </div>
                                <div class="mark">
                                    <img *ngIf="status" [src]="'assets/images/sportstool_logo_graphics/markok.png'">
                                    <img *ngIf="!status" [src]="'assets/images/sportstool_logo_graphics/markno.png'">
                                </div>
                            </div>
                            <div style="color: black">
                                <h1>{{user.firstName}} {{user.lastName}}</h1>
                                <h2>"{{user.nickName}}"</h2>
                            </div>
                            <div class="qr-code">
                                <mat-card-content style="display: flex; align-items: center; justify-content: center;">
                                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                                 style="align-items: center; display: flex; padding-left: 30px; padding-right: 30px;padding-bottom: 0;">
                                        <!-- Front -->
                                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2"  style="width: 80%;">
                                            <div class="pl-16 pr-8 h-30" fxLayout="row" fxLayoutAlign="space-between center">
                                                <!--<div class="h3">QR Code</div>-->
                                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
                                                    <mat-icon>keyboard_return</mat-icon>
                                                </button>
                                            </div>
                                            <div *ngIf="user" class="pb-10" fxLayout="column" fxLayoutAlign="center center">
                                                <qr-code [value]="user.uid" [size]="160"></qr-code>
                                                <!--<ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="id" [qrr-type]="number"></ng2-qrcode-reader>-->
                                            </div>
                                        </div>
                                        <!-- / Front -->
                                        <!-- Back -->
                                        <div class="fuse-widget-back mat-white-bg mat-elevation-z2" style="right: 1%; bottom: 1%; left: 1%">
                                            <div class="pl-16 pr-8 py-16 h-30" fxLayout="row" fxLayoutAlign="space-between center">
                                                <!--<div class="h3">Bar Code</div>-->
                                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                                                    <mat-icon class="s-16">close</mat-icon>
                                                </button>
                                            </div>
                                            <div *ngIf="user" class="pb-10" fxLayout="column" fxLayoutAlign="center center">
                                                <ngx-barcode [bc-value]="user.uid"
                                                             [bc-font-size]="16"
                                                             [bc-text-align]="center"
                                                             [bc-margin]="3"
                                                             [bc-display-value]="true"
                                                             [bc-width]="0.6"></ngx-barcode>
                                            </div>
                                        </div>
                                        <!-- / Back -->
                                    </fuse-widget>
                                </mat-card-content>
                            </div>

                        </div>
                    </div>

                </mat-card>

        </div>
    </mat-sidenav-container>

</div>