<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg p-15 h-70" style="min-height: 60px" fxLayout="row" fxLayoutAlign="start center">
    <!--<div fxLayout="column" fxLayoutAlign="start center">-->
    <!--<div class="h1 mt-10" style="margin-left: 50px; min-width: 200px;">New User Profile</div>-->
    <span class="logo-text h1" style="margin-left: 50px; min-width: 200px;" *fuseIfOnDom
          [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">New Team</span>
    <!--</div>-->
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 m-0">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

      <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
            [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Name" [(ngModel)]="newteam.name" formControlName="name" required>
            <mat-error *ngIf="formErrors.name.required">
              Name is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50" style="margin-left: 15px">
            <mat-select placeholder="Gender" [(ngModel)]="newteam.gender" formControlName="gender" required>
              <mat-option [value]="'boy'">
                Boy's
              </mat-option>
              <mat-option [value]="'girl'">
                Girl's
              </mat-option>
              <mat-option [value]="'coed'">
                Coed
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.gender.required">
              Gender is required!
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <mat-select placeholder="Club" [(ngModel)]="selectedClub" (ngModelChange)="onSelectClub($event)" formControlName="club_id" required>
              <mat-option *ngFor="let club of (clubs$ | async)" [value]="club">
                {{ club.name }}
              </mat-option>
              <mat-error *ngIf="formErrors.club_id.required">
                Club is required!
              </mat-error>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <div formGroupName="age" fxFlex="100">
            <mat-form-field fxFlex="50">
              <mat-select placeholder="Age Group" [(ngModel)]="newteam.age.level" formControlName="level" required>
                <mat-option [value]="'Adult'">
                  Adult
                </mat-option>
                <mat-option [value]="'Youth'">
                  Youth
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="newteam.age.level" fxFlex="50" style="margin-left: 15px">
              <mat-select *ngIf="newteam.age.level == 'Adult'" placeholder="Age"  [(ngModel)]="newteam.age.old" formControlName="old" required>
                <mat-option *ngFor="let age of adultAges" [value]="age">
                  {{ age }}
                </mat-option>
              </mat-select>
              <mat-select *ngIf="newteam.age.level == 'Youth'" placeholder="Age"  [(ngModel)]="newteam.age.old" formControlName="old" required>
                <mat-option *ngFor="let age of youthAges" [value]="age">
                  {{ age }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="50">
            <mat-select placeholder="Sport" [(ngModel)]="newteam.sports" formControlName="sports" multiple required>
              <mat-option *ngFor="let sport of (sports$ | async)" [value]="sport.title">
                {{ sport.title }}
              </mat-option>
              <mat-error *ngIf="formErrors.sports.required">
                Sport is required!
              </mat-error>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50" style="margin-left: 15px">
            <input name="size" type="number" (keydown)="prevent($event)" [(ngModel)]="newteam.size" formControlName="size" pattern="[0-9]{0,}" placeholder="Roster Size" matInput required>
          </mat-form-field>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="100">
              <textarea matInput placeholder="Team Description" [(ngModel)]="newteam.description" formControlName="description">
                            </textarea>
          </mat-form-field>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field fxFlex="100">
              <mat-select placeholder="Adaptive" [(ngModel)]="newteam.adaptive.status" formControlName="adaptive_status">
                <mat-option [value]="'yes'" fxFlex="100">
                  Yes
                </mat-option>
                <mat-option [value]="'no'" fxFlex="100">
                  No
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div class="mb-24" *ngIf="newteam.adaptive.status == 'yes'" fxLayout="row" fxLayoutAlign="start start">
          <mat-list class="ml-24" fxFlex="100">
            <div><h3>"Dissability" and "Severity"</h3></div>
            <mat-list-item formArrayName="adaptive_items" fxLayout="row" *ngFor="let item of adaptive_items.controls; let i = index;">
              <div [formGroupName]="i">
                <div class="adaptitem">
                  <mat-checkbox class="adaptitem" [(ngModel)]="form.controls.adaptive_items.controls[i].controls.status.value" formControlName="status" fxFlex="50">
                    {{form.controls.adaptive_items.controls[i].controls.name.value}}
                  </mat-checkbox>
                  <div *ngIf="form.controls.adaptive_items.controls[i].controls.status.value" class="adaptvalue ml-10" fxFlex="50">
                    <p>Mild</p>
                    <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [(ngModel)]="form.controls.adaptive_items.controls[i].controls.value.value" formControlName="value"></mat-slider>
                    <p>Severe</p>
                    <p class="ml-20">{{form.controls.adaptive_items.controls[i].controls.value.value}}</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-list-item>
          </mat-list>
        </div>

        <div class="mb-24 ml-24" fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field *ngIf="newteam.adaptive.status == 'yes'" fxFlex="100">
              <textarea matInput placeholder="Adaptive Note" [(ngModel)]="newteam.adaptive.note" formControlName="adaptive_note">
                            </textarea>
          </mat-form-field>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
          <!--<mat-icon class="mr-12 mt-12"></mat-icon>-->
          <div class="color-select">
            <label>Home Color</label>
            <div class="color-content">
              <div class="color-item">
                <span>Shirt</span>
                <button [(colorPicker)]="newteam.homecolor.shirt" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.homecolor.shirt">
                </button>
              </div>
              <div class="color-item">
                <span>Shorts</span>
                <button [(colorPicker)]="newteam.homecolor.shorts" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.homecolor.shorts">
                </button>
              </div>
              <div class="color-item">
                <span>Stripe</span>
                <button [(colorPicker)]="newteam.homecolor.stripe" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.homecolor.stripe">
                </button>
              </div>
            </div>
            <div class="cloth-content">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 295.526 295.526" style="enable-background:new 0 0 295.526 295.526;stroke:red;stroke-width:2" xml:space="preserve">
                <g>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': newteam.homecolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M147.763,44.074c12.801,0,23.858-8.162,27.83-20.169c-7.578,2.086-17.237,3.345-27.83,3.345
                        c-10.592,0-20.251-1.259-27.828-3.345C123.905,35.911,134.961,44.074,147.763,44.074z"/>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': newteam.homecolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M295.158,58.839c-0.608-1.706-1.873-3.109-3.521-3.873l-56.343-26.01c-11.985-4.06-24.195-7.267-36.524-9.611
                        c-0.434-0.085-0.866-0.126-1.292-0.126c-3.052,0-5.785,2.107-6.465,5.197c-4.502,19.82-22.047,34.659-43.251,34.659
                        c-21.203,0-38.749-14.838-43.25-34.659c-0.688-3.09-3.416-5.197-6.466-5.197c-0.426,0-0.858,0.041-1.292,0.126
                        c-12.328,2.344-24.538,5.551-36.542,9.611L3.889,54.965c-1.658,0.764-2.932,2.167-3.511,3.873
                        c-0.599,1.726-0.491,3.589,0.353,5.217l24.46,48.272c1.145,2.291,3.474,3.666,5.938,3.666c0.636,0,1.281-0.092,1.917-0.283
                        l27.167-8.052v161.97c0,3.678,3.001,6.678,6.689,6.678h161.723c3.678,0,6.67-3.001,6.67-6.678V107.66l27.186,8.052
                        c0.636,0.191,1.28,0.283,1.915,0.283c2.459,0,4.779-1.375,5.94-3.666l24.469-48.272C295.629,62.428,295.747,60.565,295.158,58.839z
                        "/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>

             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 471.482 471.482" style="enable-background:new 0 0 471.482 471.482;" xml:space="preserve">
              <g>
                <g>
                  <path class="homeShorts-icon" [ngStyle]="{'fill': newteam.homecolor.shorts}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M471.304,366.417L421.128,67.921c-1.262-7.471-7.784-12.906-15.36-12.8H71.944c-7.576-0.106-14.098,5.329-15.36,12.8
                      L0.264,365.905c-1.557,8.339,3.941,16.361,12.28,17.918c0.003,0,0.006,0.001,0.008,0.002l159.232,32.256
                      c6.55,1.27,13.17-1.833,16.384-7.68l47.616-85.504l47.616,85.504c2.746,4.755,7.821,7.684,13.312,7.68h3.072l159.232-32.256
                      C467.125,382.269,472.553,374.579,471.304,366.417z M133.384,116.561H78.6l5.632-30.72h49.152V116.561z M307.464,116.561h-143.36
                      v-30.72h143.36V116.561z M338.184,116.561v-30.72h54.784l5.12,30.72H338.184z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
            </div>
          </div>

          <mat-icon class="mr-12 mt-12"></mat-icon>
          <div class="color-select">
            <label>Away Color</label>
            <div class="color-content">
              <div class="color-item">
                <span>Shirt</span>
                <button [(colorPicker)]="newteam.awaycolor.shirt" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.awaycolor.shirt">
                </button>
              </div>
              <div class="color-item">
                <span>Shorts</span>
                <button [(colorPicker)]="newteam.awaycolor.shorts" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.awaycolor.shorts">
                </button>
              </div>
              <div class="color-item">
                <span>Stripe</span>
                <button [(colorPicker)]="newteam.awaycolor.stripe" (click)="$event.preventDefault(); $event.stopPropagation()"
                        class="save-button mat-accent color-btn" [style.background]="newteam.awaycolor.stripe">
                </button>
              </div>
            </div>
            <div class="cloth-content">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 295.526 295.526" style="enable-background:new 0 0 295.526 295.526;stroke:red;stroke-width:2" xml:space="preserve">
                <g>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': newteam.awaycolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M147.763,44.074c12.801,0,23.858-8.162,27.83-20.169c-7.578,2.086-17.237,3.345-27.83,3.345
                        c-10.592,0-20.251-1.259-27.828-3.345C123.905,35.911,134.961,44.074,147.763,44.074z"/>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': newteam.awaycolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M295.158,58.839c-0.608-1.706-1.873-3.109-3.521-3.873l-56.343-26.01c-11.985-4.06-24.195-7.267-36.524-9.611
                        c-0.434-0.085-0.866-0.126-1.292-0.126c-3.052,0-5.785,2.107-6.465,5.197c-4.502,19.82-22.047,34.659-43.251,34.659
                        c-21.203,0-38.749-14.838-43.25-34.659c-0.688-3.09-3.416-5.197-6.466-5.197c-0.426,0-0.858,0.041-1.292,0.126
                        c-12.328,2.344-24.538,5.551-36.542,9.611L3.889,54.965c-1.658,0.764-2.932,2.167-3.511,3.873
                        c-0.599,1.726-0.491,3.589,0.353,5.217l24.46,48.272c1.145,2.291,3.474,3.666,5.938,3.666c0.636,0,1.281-0.092,1.917-0.283
                        l27.167-8.052v161.97c0,3.678,3.001,6.678,6.689,6.678h161.723c3.678,0,6.67-3.001,6.67-6.678V107.66l27.186,8.052
                        c0.636,0.191,1.28,0.283,1.915,0.283c2.459,0,4.779-1.375,5.94-3.666l24.469-48.272C295.629,62.428,295.747,60.565,295.158,58.839z
                        "/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>

             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 471.482 471.482" style="enable-background:new 0 0 471.482 471.482;" xml:space="preserve">
              <g>
                <g>
                  <path class="homeShorts-icon" [ngStyle]="{'fill': newteam.awaycolor.shorts}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M471.304,366.417L421.128,67.921c-1.262-7.471-7.784-12.906-15.36-12.8H71.944c-7.576-0.106-14.098,5.329-15.36,12.8
                      L0.264,365.905c-1.557,8.339,3.941,16.361,12.28,17.918c0.003,0,0.006,0.001,0.008,0.002l159.232,32.256
                      c6.55,1.27,13.17-1.833,16.384-7.68l47.616-85.504l47.616,85.504c2.746,4.755,7.821,7.684,13.312,7.68h3.072l159.232-32.256
                      C467.125,382.269,472.553,374.579,471.304,366.417z M133.384,116.561H78.6l5.632-30.72h49.152V116.561z M307.464,116.561h-143.36
                      v-30.72h143.36V116.561z M338.184,116.561v-30.72h54.784l5.12,30.72H338.184z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
            </div>
          </div>

        </div>

        <div fxLayout="row" class="mb-24" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <div style="padding: 24px" >
            <img class="profile-icon" [src]="logoURL ? logoURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
          </div>
          <div>
            <h1>Logo</h1>
            <p>
              You can upload a logo from <a [routerLink]="" (click)="fileInput.click()">here</a>.<br>
              You can take a selfie using your web camera from <a [routerLink]="" (click)="cameracapture()">here</a>.<br>
            </p>
            <input hidden type="file" accept="image/*" capture="camera" (change)="selectlogo($event)" #fileInput>
          </div>
        </div>

        <div fxLayout="row" class="mb-24" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <div style="padding: 24px" >
            <img class="profile-icon" [src]="pictureURL ? pictureURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
          </div>
          <div>
            <h1>Picture</h1>
            <p>
              You can upload a Team Picture from <a [routerLink]="" (click)="docInput.click()">here</a>.<br>
              You can take a Team Picture using your web camera from <a [routerLink]="" (click)="doccameracapture()">here</a>.<br>
            </p>
            <input hidden type="file" accept="image/*" capture="camera" (change)="selectDoc($event)" #docInput>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <button type="submit" mat-raised-button color="accent" [disabled]="disableBtn"><span>Create</span></button>
          <!--<button type="button" mat-raised-button color="warn" style="margin-left: 5px" (click)="reset()">New</button>-->
        </div>

      </form>

    </div>

  </div>
  <!-- / CONTENT -->

</div>