$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
.flag-icon {
  width: 50px;
  height: auto;
}
#forms {

  .content {
    div {
      form {
        width: 100%;
        //max-width: 800px !important;

        div{
          mat-icon {
            margin-bottom: 15px;
          }
          mat-form-field {
            margin-left: 15px;
          }
        }

        .color-select {
          label{
            margin-left: 15px;
            font-size: 16px;
          }
          .color-content{
            padding-top: 10px;
            margin-right: 20px;
            min-width: 100px;
            .color-item {
              margin: 14px;
              button {
                float: right;
              }
              //.color-picker{
              //  top: 710px !important;
              //}
            }
          }
          .cloth-content{
            margin-left: 30px;
          }

        }

        .homeShirt-icon {
          padding-top: 10px;
          width: 30px;
          height: 30px;
          margin-left: 50px;
          fill: #ffffff;
        }
        .homeShorts-icon {
          width: 30px;
          height: 30px;
          margin-left: 50px;
          fill: #ffffff;
        }

        .color-btn {
          width: 20px;
          height: 20px;
          box-shadow: 0 3px 1px -2px rgba(20, 27, 20, 0.82), 0 2px 2px 0 rgba(2, 5, 23, 0.92), 0 1px 5px 0 rgba(0,0,0,.12);
        }

      }
    }




    .form-errors-model {
      flex: 1;

      code {
        background: none !important;
      }
    }

    .horizontal-stepper-wrapper,
    .vertical-stepper-wrapper {
      max-width: 800px;
    }
  }
}


.profile-icon{
  padding: 0;
  width: 100px;
  min-width: 100px;
  //height: 150px;
  line-height: 100px;
  margin: 0 8px 0 0;
  //border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #449FDB;
  z-index: 50;
  box-shadow: 0 3px 1px -2px rgba(20, 27, 20, 0.82), 0 2px 2px 0 rgba(2, 5, 23, 0.92), 0 1px 5px 0 rgba(0,0,0,.12);
}

.photo-button {
  margin-left: 50px;
  width: 100px;
  height: 100px;
}

.adaptitem {
  min-width: 200px;
}
.adaptvalue {
  display: flex;
  min-width: 200px;
}

