
<!--<mat-accordion>-->
  <!--<mat-expansion-panel>-->
    <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
        <!--Search option-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
        <!--<p *ngIf="filter.name">Name: {{filter.name}}</p>&nbsp;-->
        <!--<p *ngIf="filter.shirt_color">Shirt_color: {{filter.shirt_color}}</p>&nbsp;-->
        <!--<p *ngIf="filter.gender">Gender: {{filter.gender}}</p>&nbsp;-->
      <!--</mat-panel-description>-->
    <!--</mat-expansion-panel-header>-->

    <!--<mat-form-field fxFlex="35">-->
      <!--<input matInput type="text" (ngModelChange)="applyFilter('name', $event)" [(ngModel)]="filter.name" placeholder="Filter by Name">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field fxFlex="30">-->
      <!--<input matInput type="text" (ngModelChange)="applyFilter('shirt_color', $event)" [(ngModel)]="filter.shirt_color" placeholder="Shirt color">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field fxFlex="30">-->
      <!--<mat-select placeholder="Gender" (ngModelChange)="applyFilter('gender', $event)" [ngModel]="filter.gender">-->
        <!--<mat-option [value]="'coed'">-->
          <!--Coed-->
        <!--</mat-option>-->
        <!--<mat-option [value]="'boy'">-->
          <!--Boy's-->
        <!--</mat-option>-->
        <!--<mat-option [value]="'girl'">-->
          <!--Girl's-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
  <!--</mat-expansion-panel>-->
<!--</mat-accordion>-->

<!--<mat-table #table [dataSource]="dataSource"-->
           <!--[@animateStagger]="{value:'50'}" matSort>-->
  <!--&lt;!&ndash; Avatar Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="avatar">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--<img class="avatar" [src]="team.logo ? team.logo.url:'assets/images/avatars/team.png'" [alt]="'Photo'">-->
    <!--</mat-cell>-->
  <!--</ng-container>-->
  <!--&lt;!&ndash;Name Column&ndash;&gt;-->
  <!--<ng-container cdkColumnDef="name">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--<p class="text-truncate font-weight-600">{{team.name}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash;&lt;!&ndash; country Column &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container cdkColumnDef="shirt_color">&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-header-cell *cdkHeaderCellDef mat-sort-header>Shirt color</mat-header-cell>&ndash;&gt;-->
    <!--&lt;!&ndash;<mat-cell *cdkCellDef="let team">&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<p class="text-truncate font-weight-600">{{team.shirt_color}}</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-cell>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash; gender Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="gender">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Gender</mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--<p class="text-truncate font-weight-600">{{team.gender}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; adaptive Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="size">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Size</mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--<p class="text-truncate font-weight-600">{{team.size}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; adaptive Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="adaptive">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Adaptive</mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--<p class="text-truncate font-weight-600">{{team.adaptive.status}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Edit Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="editbtn">-->
    <!--<mat-header-cell *cdkHeaderCellDef></mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let team">-->
      <!--&lt;!&ndash;<mat-checkbox [(ngModel)]="edit[user.id]" (ngModelChange)="onSelectedChange(user.id)"&ndash;&gt;-->
      <!--&lt;!&ndash;(click)="$event.stopPropagation()">&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-checkbox>&ndash;&gt;-->
      <!--<button mat-icon-button [matMenuTriggerFor]="menu">-->
        <!--<mat-icon>more_vert</mat-icon>-->
      <!--</button>-->
      <!--<mat-menu #menu="matMenu">-->
        <!--<button mat-menu-item (click)="detailTeam(team)">-->
          <!--<mat-icon>account_box</mat-icon>-->
          <!--<span>Detail View</span>-->
        <!--</button>-->
        <!--<button mat-menu-item [disabled]="currentUserID? false: true" (click)="editTeam(team)">-->
          <!--<mat-icon>mode_edit</mat-icon>-->
          <!--<span>Edit Team</span>-->
        <!--</button>-->
        <!--<button mat-menu-item [disabled]="currentUserID? false: true" (click)="deleteTeam(team)">-->
          <!--<mat-icon>delete_forever</mat-icon>-->
          <!--<span>Delete Team</span>-->
        <!--</button>-->
      <!--</mat-menu>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>-->
  <!--<mat-row *cdkRowDef="let team; columns: displayedColumns;"-->
           <!--class="contact">-->
  <!--</mat-row>-->
  <!--&lt;!&ndash;<mat-row *cdkRowDef="let team; columns: displayedColumns;"&ndash;&gt;-->
           <!--&lt;!&ndash;class="contact"&ndash;&gt;-->
           <!--&lt;!&ndash;(click)="editTeam(team)"&ndash;&gt;-->
           <!--&lt;!&ndash;matRipple&ndash;&gt;-->
           <!--&lt;!&ndash;[@animate]="{value:'*',params:{y:'100%'}}">&ndash;&gt;-->
  <!--&lt;!&ndash;</mat-row>&ndash;&gt;-->
<!--</mat-table>-->
<ag-grid-angular
        style="width: 100%; height: 100%; padding: 10px"
        id="myGrid"
        class="ag-theme-material"
        [enableSorting]="true"
        [enableFilter]="true"
        [enableColResize]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents"
        rowSelection="multiple"
        [context]="context"
>
</ag-grid-angular>

<!--<mat-paginator #paginator-->
               <!--[pageSize]="10"-->
               <!--[pageSizeOptions]="[5, 10, 20]">-->
<!--</mat-paginator>-->


