<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">User Information</span>
      <button mat-button class="mat-icon-button"
              (click)="dialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
      <button type="button" class="md-raised md-primary photo-button"
              aria-label="add image">
        <!--<input hidden type="file" id="FileInput" (change)="uploadLogo($event)" #fileInput>-->
        <img class="photo-icon" [src]="user.logo?user.logo.url:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
      </button>
      <!--<div class="contact-name">{{user.name}}</div>-->
    </mat-toolbar-row>
  </mat-toolbar>


  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">General Information</div>
        </header>

        <div class="content">
          <div class="info-line">
            <div class="title">Name</div>
            <div class="info">{{user.firstName}} {{user.lastName}} ({{user.nickName}})</div>
          </div>

          <div class="info-line" *ngIf="user.gender">
            <div class="title">Gender</div>
            <div class="info">{{user.gender}}</div>
          </div>

          <div class="info-line" *ngIf="user.birthday">
            <div class="title">Birthday</div>
            <div class="info">{{user.birthday| date:'MM/dd/yyyy'}}</div>
          </div>

          <div class="info-line" *ngIf="user.age">
            <div class="title">Age</div>
            <div class="info">{{user.age}}</div>
          </div>

          <div class="info-line">
            <div class="title">Sports</div>
            <div class="info">{{user.sports}}</div>
          </div>

          <div class="info-line">
            <div class="title">Roles</div>
            <div class="info">{{user.roles}}</div>
          </div>

          <div class="info-line" *ngIf="user.country">
            <div class="title">Country</div>
            <div class="info">{{user.country}}</div>
          </div>

          <div class="info-line" *ngIf="user.state">
            <div class="title">State</div>
            <div class="info">{{user.state}}</div>
          </div>

          <div class="info-line" *ngIf="user.city">
            <div class="title">City</div>
            <div class="info">{{user.city}}</div>
          </div>

          <div class="info-line" *ngIf="user.countryOfBirth">
            <div class="title">Country Of Birth</div>
            <div class="info">{{user.countryOfBirth}}</div>
          </div>

          <div class="info-line" *ngIf="user.cityOfBirth">
            <div class="title">City Of Birth</div>
            <div class="info">{{user.cityOfBirth}}</div>
          </div>

          <div class="info-line">
            <div class="title">Zipcode</div>
            <div class="info">{{user.postalCode}}</div>
          </div>

          <div class="info-line">
            <div class="title">Create Date</div>
            <div class="info">{{user.date_create| date:'MM/dd/yyyy'}}</div>
          </div>
        </div>

      </div>

      <div class="profile-box info-box work" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">Adaptive Information</div>
        </header>

        <div class="content">

          <div class="info-line" *ngIf="user.adaptive.status == 'yes'">
            <!--<div class="title">Adaptive</div>-->
            <!--<div class="info">{{team.adaptive.status}}</div>-->
            <div class="info mb-24">
              <mat-list class="mb-24">
                <div><h3>"Dissability" and "Severity"</h3></div>
                <mat-list-item *ngFor="let item of user.adaptive.items">
                  <div class="adaptitem" fxFlex="50">
                    <mat-checkbox [checked]="item.status" disabled="true">
                      {{item.name}}
                    </mat-checkbox>
                  </div>
                  <div *ngIf="item.status" class="adaptvalue" fxFlex="50">
                    <p>Mild</p>
                    <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [value]="item.value" disabled="true"></mat-slider>
                    <p>Severe</p>
                    <p class="ml-20">{{item.value}}</p>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="info mb-24" *ngIf="user.adaptive.status == 'yes' && user.adaptive.note">
              <div class="title">Adaptive Description</div>
              <div class="info">{{user.adaptive.note}}</div>
            </div>
          </div>

          <div class="info-line" *ngIf="user.adaptive.status == 'no'">
            <div class="title">N/A</div>
          </div>

        </div>
      </div>

      <div class="profile-box info-box work" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">Contact Information</div>
        </header>

        <div class="content" >
          <div class="info-line">
            <div class="title">Address</div>
            <div class="info" *ngIf="user.address">{{user.address}}</div>
            <div class="info" *ngIf="!user.address">N/A</div>
          </div>

          <div class="info-line" *ngIf="user.address2">
            <div class="title">Address2</div>
            <div class="info">{{user.address2}}</div>
          </div>

          <div class="info-line">
            <div class="title">Email</div>
            <div *ngFor="let email of user.emails">
              <div class="info">{{email['email']}} &nbsp;{{email['role']}}</div>
            </div>
          </div>

          <div class="info-line">
            <div class="title">Phone</div>
            <div *ngFor="let phone of user.phones">
              <div class="info">{{phone['phone']}} &nbsp;{{phone['role']}}</div>
            </div>
          </div>

          <!--<div class="info-line">-->
            <!--<div class="title">Url</div>-->
            <!--<div *ngFor="let url of user.urls">-->
              <!--<div class="info"><a href="https://www.npmjs.com/package/angular2-fontawesome" target="_blank">{{url['link']}}</a></div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="info-line" *ngIf="user.socialaccounts">-->
            <!--<div class="title">Social Account</div>-->
            <!--<div *ngFor="let socialaccount of user.socialaccounts">-->
              <!--<div class="info"> {{socialaccount['social']}} <a href="https://uk.linkedin.com/" target="_blank">{{socialaccount['id']}}</a></div>-->
            <!--</div>-->
          <!--</div>-->

        </div>
      </div>

    </div>

  </div>

</div>




