<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!-- HEADER -->
    <!-- <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
            </div>
            <div class="h1 mt-16">Home</div>
        </div>
    </div> -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24" style="text-align:center;">

        <p><img align="middle" src="assets/images/sportstool_logo_graphics/png1.png" alt="sports tools logo"/></p>
        <div *ngIf="!currentuser">
            <h1><p>Anonymous User from {{locationInfo.city}} {{locationInfo.state}}</p></h1>
            <span class="flag-icon flag-icon-{{locationInfo.countryCode}}" style="text-align:center;"></span>
            <h2><p>This area is populated by a generic roll up (search) of activities in {{locationInfo.city}} {{locationInfo.state}}.
                Or maybe stats... <a class="link" [routerLink]="'/users/allusers'">{{users.length}} players</a>,
                <a class="link" [routerLink]="'/organization/allorganizations'">{{organizations.length}} organizations</a>,
                <a class="link" [routerLink]="'/team/allteams'">{{teams.length}} teams</a> in 20 countries.
                {{sports.length}} sports.</p></h2>
        </div>
        <div *ngIf="currentuser" class="content p-24">
            <h1><p style="text-align:center;">Wellcome {{currentuser.nickName}}!</p></h1>
        </div>
    </div>

    <!-- / CONTENT -->

</div>