<div>
  <mat-form-field fxFlex="email.data ? 50 : 100">
    <input matInput placeholder="Email" pattern="[^@]+@[^@]+" [(ngModel)]="email.data" name="email" required>
  </mat-form-field>

  <mat-form-field *ngIf="email.data" fxFlex="50" name="role">
    <mat-select placeholder="Label" [(ngModel)]="email.role">
      <mat-option [value]="'Home'">
        Home
      </mat-option>
      <mat-option [value]="'Work'">
        Work
      </mat-option>
      <mat-option [value]="'Other'">
        Other
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>