
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search option
      </mat-panel-title>
      <mat-panel-description>
        <p *ngIf="filter.name">Name: {{filter.name}}</p>&nbsp;
        <p *ngIf="filter.country">Country: {{filter.country}}</p>&nbsp;
        <!--<p *ngIf="filter.state">State: {{filter.state}}</p>&nbsp;-->
        <p *ngIf="filter.city">City: {{filter.city}}</p>&nbsp;
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field fxFlex="35">
      <input matInput type="text" (ngModelChange)="applyFilter('name', $event)" [(ngModel)]="filter.name" placeholder="Filter by Name">
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput type="text" placeholder="Country" (ngModelChange)="applyFilter('country', $event)"
             [(ngModel)]="filter.country" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries" [value]="country.Name">
          <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
          <span>{{country.Name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput type="text" (ngModelChange)="applyFilter('city', $event)" [(ngModel)]="filter.city" placeholder="City">
    </mat-form-field>
    <!--<mat-form-field fxFlex="10">-->
      <!--<input matInput type="text" (ngModelChange)="applyFilter('state', $event)" [(ngModel)]="filter.state" placeholder="State">-->
    <!--</mat-form-field>-->
  </mat-expansion-panel>
</mat-accordion>

<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}" matSort>
  <!-- Avatar Column -->
  <ng-container cdkColumnDef="avatar">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <img class="avatar" [src]="club.logo ? club.logo.url:'assets/images/avatars/team.png'" [alt]="'Photo'">
    </mat-cell>
  </ng-container>
   <!--Name Column-->
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.name}}</p>
    </mat-cell>
  </ng-container>

  <!--&lt;!&ndash; Owner Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="owner">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let club">-->
      <!--<p class="text-truncate font-weight-600">{{club.userName}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; country Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="country">-->
    <!--<mat-header-cell *cdkHeaderCellDef mat-sort-header>Country</mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let club">-->
      <!--<p class="text-truncate font-weight-600">{{club.country}}</p>-->
    <!--</mat-cell>-->
  <!--</ng-container>-->

  <!-- city Column -->
  <ng-container cdkColumnDef="city">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>City</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.city}}</p>
    </mat-cell>
  </ng-container>

  <!-- adaptive Column -->
  <ng-container cdkColumnDef="adaptive">
    <mat-header-cell *cdkHeaderCellDef>Adaptive</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.adaptive.status}}</p>
    </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container cdkColumnDef="editbtn">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <!--<mat-checkbox [(ngModel)]="edit[user.id]" (ngModelChange)="onSelectedChange(user.id)"-->
      <!--(click)="$event.stopPropagation()">-->
      <!--</mat-checkbox>-->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="detailClub(club)">
          <mat-icon>account_box</mat-icon>
          <span>Detail View</span>
        </button>
        <button mat-menu-item [disabled]="currentUserID? false: true" (click)="editClub(club)">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit Club</span>
        </button>
        <button mat-menu-item [disabled]="currentUserID? false: true" (click)="deleteClub(club)">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete Club</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <!--&lt;!&ndash; Buttons Column &ndash;&gt;-->
  <!--<ng-container cdkColumnDef="buttons">-->
    <!--<mat-header-cell *cdkHeaderCellDef></mat-header-cell>-->
    <!--<mat-cell *cdkCellDef="let club">-->
      <!--&lt;!&ndash;<div fxFlex="row" fxLayoutAlign="end center">&ndash;&gt;-->
        <!--&lt;!&ndash;<button mat-icon-button (click)="$event.stopPropagation();toggleStar(club.id)" aria-label="Toggle star">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<mat-icon *ngIf="user.starred.includes(contact.id)">star</mat-icon>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<mat-icon *ngIf="!user.starred.includes(contact.id)">star_outline</mat-icon>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->

        <!--&lt;!&ndash;<button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"&ndash;&gt;-->
                <!--&lt;!&ndash;(click)="$event.stopPropagation();">&ndash;&gt;-->
          <!--&lt;!&ndash;<mat-icon>more_vert</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->

        <!--&lt;!&ndash;<mat-menu #moreMenu="matMenu">&ndash;&gt;-->
          <!--&lt;!&ndash;<button mat-menu-item aria-label="remove" (click)="deleteContact(club)">&ndash;&gt;-->
            <!--&lt;!&ndash;<mat-icon>delete</mat-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Remove</span>&ndash;&gt;-->
          <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-menu>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</mat-cell>-->
  <!--</ng-container>-->

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let club; columns: displayedColumns;"
           class="contact">
  </mat-row>
  <!--<mat-row *cdkRowDef="let club; columns: displayedColumns;"-->
           <!--class="contact"-->
           <!--(click)="editClub(club)"-->
           <!--matRipple-->
           <!--[@animate]="{value:'*',params:{y:'100%'}}">-->
  <!--</mat-row>-->
</mat-table>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>


