<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{team.name}} Infomation</span>
        <button mat-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
        <button type="button" class="md-raised md-primary photo-button"
                aria-label="add image">
          <!--<input hidden type="file" id="FileInput" (change)="uploadLogo($event)" #fileInput>-->
          <img class="photo-icon" [src]="team.logo?team.logo.url:'assets/images/avatars/team.png'" [alt]="'Photo'"/>
        </button>
        <!--<div class="contact-name">{{team.name}}</div>-->
      </mat-toolbar-row>
    </mat-toolbar>


    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

      <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

          <header class="mat-accent-bg">
            <div class="title">General Information</div>
          </header>

          <div class="content">
            <div class="info-line">
              <div class="title">Team Name</div>
              <div class="info">{{team.name}}</div>
            </div>

            <div class="info-line">
              <div class="title">Owner</div>
              <div class="info" *ngIf="owner">{{owner.firstName}} {{owner.lastName}}</div>
            </div>

            <div class="info-line">
              <div class="title">Club</div>
              <div class="info" *ngIf="club">{{club.name}}</div>
            </div>

            <div class="info-line">
              <div class="title">Gender</div>
              <div class="info">{{team.gender}}</div>
            </div>

            <div class="info-line">
              <div class="title">Age</div>
              <div class="info" *ngIf="team.age">{{team.age.level}} {{team.age.old}}</div>
            </div>

            <div class="info-line">
              <div class="title">Sports</div>
              <div class="info">{{team.sports}}</div>
            </div>

            <div class="info-line">
              <div class="title">Roster Size</div>
              <div class="info">{{team.size}}</div>
            </div>

            <div class="info-line" *ngIf="team.description">
              <div class="title">Team Description</div>
              <div class="info">{{team.description}}</div>
            </div>
            <div class="info-line mb-24">
              <div class="title">Create Date</div>
              <div class="info">{{team.date_create| date:'MM/dd/yyyy'}}</div>
            </div>
          </div>

        </div>

        <div class="profile-box info-box work" fxLayout="column">

          <header class="mat-accent-bg">
            <div class="title">Color Information</div>
          </header>

          <div class="content">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon class="mr-12 mt-12"></mat-icon>
              <div class="color-select">
                <label>Home Color</label>
                <div class="color-content">
                  <div class="color-item">
                    <span>Shirt</span>
                    <button [(colorPicker)]="team.homecolor.shirt" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.homecolor.shirt">
                    </button>
                  </div>
                  <div class="color-item">
                    <span>Shorts</span>
                    <button [(colorPicker)]="team.homecolor.shorts" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.homecolor.shorts">
                    </button>
                  </div>
                  <div class="color-item">
                    <span>Stripe</span>
                    <button [(colorPicker)]="team.homecolor.stripe" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.homecolor.stripe">
                    </button>
                  </div>
                </div>
                <div class="cloth-content">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 295.526 295.526" style="enable-background:new 0 0 295.526 295.526;stroke:red;stroke-width:2" xml:space="preserve">
                <g>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': team.homecolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M147.763,44.074c12.801,0,23.858-8.162,27.83-20.169c-7.578,2.086-17.237,3.345-27.83,3.345
                        c-10.592,0-20.251-1.259-27.828-3.345C123.905,35.911,134.961,44.074,147.763,44.074z"/>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': team.homecolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M295.158,58.839c-0.608-1.706-1.873-3.109-3.521-3.873l-56.343-26.01c-11.985-4.06-24.195-7.267-36.524-9.611
                        c-0.434-0.085-0.866-0.126-1.292-0.126c-3.052,0-5.785,2.107-6.465,5.197c-4.502,19.82-22.047,34.659-43.251,34.659
                        c-21.203,0-38.749-14.838-43.25-34.659c-0.688-3.09-3.416-5.197-6.466-5.197c-0.426,0-0.858,0.041-1.292,0.126
                        c-12.328,2.344-24.538,5.551-36.542,9.611L3.889,54.965c-1.658,0.764-2.932,2.167-3.511,3.873
                        c-0.599,1.726-0.491,3.589,0.353,5.217l24.46,48.272c1.145,2.291,3.474,3.666,5.938,3.666c0.636,0,1.281-0.092,1.917-0.283
                        l27.167-8.052v161.97c0,3.678,3.001,6.678,6.689,6.678h161.723c3.678,0,6.67-3.001,6.67-6.678V107.66l27.186,8.052
                        c0.636,0.191,1.28,0.283,1.915,0.283c2.459,0,4.779-1.375,5.94-3.666l24.469-48.272C295.629,62.428,295.747,60.565,295.158,58.839z
                        "/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>

             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 471.482 471.482" style="enable-background:new 0 0 471.482 471.482;" xml:space="preserve">
              <g>
                <g>
                  <path class="homeShorts-icon" [ngStyle]="{'fill': team.homecolor.shorts}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M471.304,366.417L421.128,67.921c-1.262-7.471-7.784-12.906-15.36-12.8H71.944c-7.576-0.106-14.098,5.329-15.36,12.8
                      L0.264,365.905c-1.557,8.339,3.941,16.361,12.28,17.918c0.003,0,0.006,0.001,0.008,0.002l159.232,32.256
                      c6.55,1.27,13.17-1.833,16.384-7.68l47.616-85.504l47.616,85.504c2.746,4.755,7.821,7.684,13.312,7.68h3.072l159.232-32.256
                      C467.125,382.269,472.553,374.579,471.304,366.417z M133.384,116.561H78.6l5.632-30.72h49.152V116.561z M307.464,116.561h-143.36
                      v-30.72h143.36V116.561z M338.184,116.561v-30.72h54.784l5.12,30.72H338.184z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
                </div>
              </div>

              <mat-icon class="mr-12 mt-12"></mat-icon>
              <div class="color-select">
                <label>Away Color</label>
                <div class="color-content">
                  <div class="color-item">
                    <span>Shirt</span>
                    <button [(colorPicker)]="team.awaycolor.shirt" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.awaycolor.shirt">
                    </button>
                  </div>
                  <div class="color-item">
                    <span>Shorts</span>
                    <button [(colorPicker)]="team.awaycolor.shorts" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.awaycolor.shorts">
                    </button>
                  </div>
                  <div class="color-item">
                    <span>Stripe</span>
                    <button [(colorPicker)]="team.awaycolor.stripe" disabled
                            class="save-button mat-accent color-btn" [style.background]="team.awaycolor.stripe">
                    </button>
                  </div>
                </div>
                <div class="cloth-content">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 295.526 295.526" style="enable-background:new 0 0 295.526 295.526;stroke:red;stroke-width:2" xml:space="preserve">
                <g>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': team.awaycolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M147.763,44.074c12.801,0,23.858-8.162,27.83-20.169c-7.578,2.086-17.237,3.345-27.83,3.345
                        c-10.592,0-20.251-1.259-27.828-3.345C123.905,35.911,134.961,44.074,147.763,44.074z"/>
                    <path class="homeShirt-icon" [ngStyle]="{'fill': team.awaycolor.shirt}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M295.158,58.839c-0.608-1.706-1.873-3.109-3.521-3.873l-56.343-26.01c-11.985-4.06-24.195-7.267-36.524-9.611
                        c-0.434-0.085-0.866-0.126-1.292-0.126c-3.052,0-5.785,2.107-6.465,5.197c-4.502,19.82-22.047,34.659-43.251,34.659
                        c-21.203,0-38.749-14.838-43.25-34.659c-0.688-3.09-3.416-5.197-6.466-5.197c-0.426,0-0.858,0.041-1.292,0.126
                        c-12.328,2.344-24.538,5.551-36.542,9.611L3.889,54.965c-1.658,0.764-2.932,2.167-3.511,3.873
                        c-0.599,1.726-0.491,3.589,0.353,5.217l24.46,48.272c1.145,2.291,3.474,3.666,5.938,3.666c0.636,0,1.281-0.092,1.917-0.283
                        l27.167-8.052v161.97c0,3.678,3.001,6.678,6.689,6.678h161.723c3.678,0,6.67-3.001,6.67-6.678V107.66l27.186,8.052
                        c0.636,0.191,1.28,0.283,1.915,0.283c2.459,0,4.779-1.375,5.94-3.666l24.469-48.272C295.629,62.428,295.747,60.565,295.158,58.839z
                        "/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>

             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 471.482 471.482" style="enable-background:new 0 0 471.482 471.482;" xml:space="preserve">
              <g>
                <g>
                  <path class="homeShorts-icon" [ngStyle]="{'fill': team.awaycolor.shorts}" stroke="#555" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" d="M471.304,366.417L421.128,67.921c-1.262-7.471-7.784-12.906-15.36-12.8H71.944c-7.576-0.106-14.098,5.329-15.36,12.8
                      L0.264,365.905c-1.557,8.339,3.941,16.361,12.28,17.918c0.003,0,0.006,0.001,0.008,0.002l159.232,32.256
                      c6.55,1.27,13.17-1.833,16.384-7.68l47.616-85.504l47.616,85.504c2.746,4.755,7.821,7.684,13.312,7.68h3.072l159.232-32.256
                      C467.125,382.269,472.553,374.579,471.304,366.417z M133.384,116.561H78.6l5.632-30.72h49.152V116.561z M307.464,116.561h-143.36
                      v-30.72h143.36V116.561z M338.184,116.561v-30.72h54.784l5.12,30.72H338.184z"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-box info-box work" fxLayout="column">

          <header class="mat-accent-bg">
            <div class="title">Adaptive Information</div>
          </header>

          <div class="content">

            <div class="info-line" *ngIf="team.adaptive.status == 'yes'">
              <!--<div class="title">Adaptive</div>-->
              <!--<div class="info">{{team.adaptive.status}}</div>-->
              <div class="info mb-24">
                <mat-list class="mb-24">
                  <div><h3>"Dissability" and "Severity"</h3></div>
                  <mat-list-item *ngFor="let item of team.adaptive.items">
                    <div class="adaptitem" fxFlex="50">
                      <mat-checkbox [checked]="item.status" disabled="true">
                        {{item.name}}
                      </mat-checkbox>
                    </div>
                    <div *ngIf="item.status" class="adaptvalue" fxFlex="50">
                      <p>Mild</p>
                      <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [value]="item.value" disabled="true"></mat-slider>
                      <p>Severe</p>
                      <p class="ml-20">{{item.value}}</p>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="info mb-24" *ngIf="team.adaptive.status == 'yes' && team.adaptive.note">
                <div class="title">Adaptive Description</div>
                <div class="info">{{team.adaptive.note}}</div>
              </div>
            </div>

            <div class="info-line" *ngIf="team.adaptive.status == 'no'">
              <div class="title">N/A</div>
            </div>

          </div>
        </div>

        <div class="profile-box info-box work" fxLayout="column">

          <header class="mat-accent-bg">
            <div class="title">Contact Information</div>
          </header>

          <div class="content">
            <div class="info-line">
              <div class="title">Email</div>
              <div *ngFor="let email of team.emails">
                <div class="info">{{email['email']}} &nbsp;{{email['role']}}</div>
              </div>
            </div>

            <div class="info-line">
              <div class="title">Phone</div>
              <div *ngFor="let phone of team.phones">
                <div class="info">{{phone['phone']}} &nbsp;{{phone['role']}}</div>
              </div>
            </div>

            <div class="info-line">
              <div class="title">Url</div>
              <div *ngFor="let url of team.urls">
                <div class="info"><a href="https://www.npmjs.com/package/angular2-fontawesome" target="_blank">{{url['link']}}</a></div>
              </div>
            </div>

            <div class="info-line" *ngIf="team.socialaccounts">
              <div class="title">Social Account</div>
              <div *ngFor="let socialaccount of team.socialaccounts">
                <div class="info"> {{socialaccount['social']}} <a href="https://uk.linkedin.com/" target="_blank">{{socialaccount['id']}}</a></div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>




