
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search option
      </mat-panel-title>
      <mat-panel-description>
        <p *ngIf="filter.name">Name: {{filter.name}}</p>&nbsp;
        <p *ngIf="filter.country">Country: {{filter.country}}</p>&nbsp;
        <!--<p *ngIf="filter.state">State: {{filter.state}}</p>&nbsp;-->
        <p *ngIf="filter.city">City: {{filter.city}}</p>&nbsp;
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field fxFlex="35">
      <input matInput type="text" (ngModelChange)="applyFilter('name', $event)" [(ngModel)]="filter.name" placeholder="Filter by Name">
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput type="text" placeholder="Country" (ngModelChange)="applyFilter('country', $event)"
             [(ngModel)]="filter.country" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries" [value]="country.Name">
          <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
          <span>{{country.Name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput type="text" (ngModelChange)="applyFilter('city', $event)" [(ngModel)]="filter.city" placeholder="City">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}" matSort>
  <!-- Avatar Column -->
  <ng-container cdkColumnDef="avatar">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <img class="avatar" [src]="club.logo ? club.logo.url:'assets/images/avatars/team.png'" [alt]="'Photo'">
    </mat-cell>
  </ng-container>
  <!--Name Column-->
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.name}}</p>
    </mat-cell>
  </ng-container>

  <!-- city Column -->
  <ng-container cdkColumnDef="city">
    <mat-header-cell *cdkHeaderCellDef mat-sort-header>City</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.city}}</p>
    </mat-cell>
  </ng-container>

  <!-- adaptive Column -->
  <ng-container cdkColumnDef="adaptive">
    <mat-header-cell *cdkHeaderCellDef>Adaptive</mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <p class="text-truncate font-weight-600">{{club.adaptive.status}}</p>
    </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container cdkColumnDef="editbtn">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let club">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="detailOrganization(club)">
          <mat-icon>account_box</mat-icon>
          <span>Detail View</span>
        </button>
        <button mat-menu-item [disabled]="currentUserID? false: true" (click)="editOrganization(club)">
          <mat-icon>mode_edit</mat-icon>
          <span>Edit Organization</span>
        </button>
        <button mat-menu-item [disabled]="currentUserID? false: true" (click)="deleteOrganization(club)">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete Organization</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let club; columns: displayedColumns;"
           class="contact">
  </mat-row>
</mat-table>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]">
</mat-paginator>


