<div>
  <mat-form-field fxFlex="email.data ? 50 : 100">
    <input matInput placeholder="Phone" pattern="[0-9]{0,}" [(ngModel)]="phone.data" name="phone" required>
  </mat-form-field>

  <mat-form-field *ngIf="phone.data" fxFlex="50" name="role">
    <mat-select placeholder="Label" [(ngModel)]="phone.role">
      <mat-option [value]="'Home'">
        Home
      </mat-option>
      <mat-option [value]="'Work'">
        Work
      </mat-option>
      <mat-option [value]="'Other'">
        Other
      </mat-option>
      <mat-option [value]="'Cell'">
        Cell
      </mat-option>
      <mat-option [value]="'Mobile'">
        Mobile
      </mat-option>
      <mat-option [value]="'Google Voice'">
        Google Voice
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>