<div>
  <!--<fuse-material-color-picker [shirt]="true" [value]="color"-->
            <!--(onValueChange)="onSettingsColor($event)" ngDefaultControl></fuse-material-color-picker>-->
  <!--<button [(colorPicker)]="color" (click)="onSettingsColor()"-->
  <!--class="save-button mat-accent shirt-icon" [style.background]="color">-->
  <!--</button>-->
</div>

