<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

    <!--&lt;!&ndash; HEADER &ndash;&gt;-->
    <!--<div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">-->
        <!--<div fxLayout="column" fxLayoutAlign="center start">-->
            <!--<div class="black-fg" fxLayout="row" fxLayoutAlign="start center">-->
                <!--<a routerLink="/home">-->
                    <!--<mat-icon class="secondary-text s-16">home</mat-icon>-->
                <!--</a>-->
                <!--<mat-icon class="secondary-text s-16">chevron_right</mat-icon>-->
                <!--<span class="secondary-text">User Profile</span>-->
            <!--</div>-->
            <!--<div class="h1 mt-16">User Profile</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; / HEADER &ndash;&gt;-->
    <!-- HEADER -->
    <div class="header mat-accent-bg p-15 h-70" style="min-height: 60px; height: 60px" fxLayout="row" fxLayoutAlign="start center">
        <!-- APP TITLE -->
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="logo-icon mr-16" style="margin-left: 50px;" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
            <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">User Profile</span>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form *ngIf="profile" class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                  [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                    <!--<mat-icon class="mr-12 mt-12">account_box</mat-icon>-->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="First name" [(ngModel)]="profile.firstName" formControlName="firstName">
                        <mat-error *ngIf="formErrors.firstName.required">
                            First Name is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" style="margin-left: 15px">
                        <input matInput placeholder="Last name" [(ngModel)]="profile.lastName" formControlName="lastName">
                        <mat-error *ngIf="formErrors.lastName.required">
                            Last Name is required!
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                    <!--<mat-icon class="mr-12 mt-12"></mat-icon>-->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Nickname" [(ngModel)]="profile.nickName" formControlName="nickName">
                    </mat-form-field>

                    <mat-form-field fxFlex="50" style="margin-left: 15px">
                        <mat-select placeholder="Gender" [(ngModel)]="profile.gender" formControlName="gender">
                            <mat-option [value]="'boy'">
                                Boy
                            </mat-option>
                            <mat-option [value]="'girl'">
                                Girl
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.gender.required">
                            Gender is required!
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                    <!--<mat-icon class="mr-12 mt-12"></mat-icon>-->
                    <mat-form-field fxFlex="50">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="profile.birthday" formControlName="birthday" placeholder="Birthday  MM/DD/YYYY">
                        <mat-error *ngIf="formErrors.birthday.required">
                            Birthday is required!
                        </mat-error>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                    <div style="margin-left: 50px">Your age is:
                        <strong>{{ profile.age }}</strong>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12"></mat-icon>-->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Country of Birth (Recommended)" aria-label="Country" [(ngModel)]="profile.countryOfBirth" [matAutocomplete]="myauto" formControlName="countryOfBirth">
                        <mat-autocomplete #myauto="matAutocomplete">
                            <mat-option *ngFor="let country of birthfilteredCountries" [value]="country.Name">
                                <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
                                <span>{{country.Name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" style="margin-left: 15px">
                        <input matInput placeholder="City of Birth (Recommended)" [(ngModel)]="profile.cityOfBirth" formControlName="cityOfBirth">
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12"></mat-icon>-->
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Role" [(ngModel)]="profile.roles" formControlName="roles" multiple>
                            <mat-option [value]="roles.title" *ngFor="let roles of (roles$ | async)">
                                {{ roles.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formErrors.roles.required">
                            Role is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" style="margin-left: 15px">
                        <mat-select placeholder="Sport" [(ngModel)]="profile.sports" formControlName="sports" multiple>
                            <mat-option *ngFor="let sport of (sports$ | async)" [value]="sport.title">
                                {{ sport.title }}
                            </mat-option>
                            <mat-error *ngIf="formErrors.sports.required">
                                Sport is required!
                            </mat-error>
                        </mat-select>
                    </mat-form-field>

                </div>

                <!--//*********** General Sample Form*************//-->

                <!--<div *ngFor="let email of profile.emails" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->
                <!--<mat-icon class="mr-12 mt-12">email</mat-icon>-->
                <!--<fuse-multi-email [email]="email" [ngStyle]="email.data ? {'width': '85%'} : {'width': '100%'}"></fuse-multi-email>-->
                <!--<button *ngIf="email.data" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deletemail(email)">-->
                <!--<mat-icon matTooltip="Remove">close</mat-icon>-->
                <!--</button>-->
                <!--<button *ngIf="email.data" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addmail()">-->
                <!--<mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>-->
                <!--</button>-->
                <!--</div>-->

                <!--//*********** Reactive Form*************//-->

                <div formArrayName="emails" *ngFor="let item of emails.controls; let i = index;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12">email</mat-icon>-->
                    <mat-form-field [formGroupName]="i" fxFlex="form.controls.emails.controls[i].controls.email.value ? {'width': '50%'} : {'width': '100%'}">
                        <input matInput formControlName="email" [(ngModel)]="form.controls.emails.controls[i].controls.email.value"
                               pattern="[^@]+@[^@]+" placeholder="Email"/>
                        <!--<mat-error *ngIf="formErrors.emails.required">-->
                        <!--Email is required!-->
                        <!--</mat-error>-->
                    </mat-form-field>
                    <mat-form-field [formGroupName]="i" *ngIf="form.controls.emails.controls[i].controls.email.value" fxFlex="35" style="margin-left: 15px">
                        <mat-select placeholder="Role" formControlName="role" [(ngModel)]="form.controls.emails.controls[i].controls.role.value">
                            <mat-option [value]="'Home'">
                                Home
                            </mat-option>
                            <mat-option [value]="'Work'">
                                Work
                            </mat-option>
                            <mat-option [value]="'Other'">
                                Other
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="form.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('email', i)">
                        <mat-icon matTooltip="Remove">close</mat-icon>
                    </button>
                    <button *ngIf="form.controls.emails.controls[i].controls.email.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('email')">
                        <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                    </button>
                </div>

                <div formArrayName="phones" *ngFor="let item of phones.controls; let i = index;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12">phone</mat-icon>-->
                    <mat-form-field [formGroupName]="i" fxFlex="form.controls.phones.controls[i].controls.phone.value ? {'width': '50%'} : {'width': '100%'}">
                        <input matInput formControlName="phone" [(ngModel)]="form.controls.phones.controls[i].controls.phone.value"
                               pattern="[0-9]{0,}" placeholder="Phone"/>
                        <!--<mat-error *ngIf="formErrors.emails.required">-->
                        <!--Email is required!-->
                        <!--</mat-error>-->
                    </mat-form-field>
                    <mat-form-field [formGroupName]="i" *ngIf="form.controls.phones.controls[i].controls.phone.value" fxFlex="35" style="margin-left: 15px">
                        <mat-select placeholder="Role" formControlName="role" [(ngModel)]="form.controls.phones.controls[i].controls.role.value">
                            <mat-option [value]="'Home'">
                                Home
                            </mat-option>
                            <mat-option [value]="'Work'">
                                Work
                            </mat-option>
                            <mat-option [value]="'Other'">
                                Other
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="form.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('phone', i)">
                        <mat-icon matTooltip="Remove">close</mat-icon>
                    </button>
                    <button *ngIf="form.controls.phones.controls[i].controls.phone.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('phone')">
                        <mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>
                    </button>
                </div>

                <!--<div formArrayName="urls" *ngFor="let item of urls.controls; let i = index;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->
                    <!--&lt;!&ndash;<mat-icon class="mr-12 mt-12">link</mat-icon>&ndash;&gt;-->
                    <!--<mat-form-field [formGroupName]="i" fxFlex="form.controls.urls.controls[i].controls.link.value ? {'width': '85%'} : {'width': '100%'}">-->
                        <!--<input matInput formControlName="link" [(ngModel)]="form.controls.urls.controls[i].controls.link.value" placeholder="Url"/>-->
                    <!--</mat-form-field>-->
                    <!--<button *ngIf="form.controls.urls.controls[i].controls.link.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('url', i)">-->
                        <!--<mat-icon matTooltip="Remove">close</mat-icon>-->
                    <!--</button>-->
                    <!--<button *ngIf="form.controls.urls.controls[i].controls.link.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('url')">-->
                        <!--<mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<div formArrayName="socialaccounts" *ngFor="let item of socialaccounts.controls; let i = index;" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->
                    <!--&lt;!&ndash;<mat-icon class="mr-12 mt-12"></mat-icon>&ndash;&gt;-->
                    <!--<mat-form-field [formGroupName]="i" fxFlex="50">-->
                        <!--<mat-select placeholder="Social Network" [(ngModel)]="form.controls.socialaccounts.controls[i].controls.social.value" formControlName="social">-->
                            <!--<mat-option [value]="socialnet.value" *ngFor="let socialnet of socialnetworks">-->
                                <!--{{ socialnet.value }}-->
                            <!--</mat-option>-->
                        <!--</mat-select>-->
                    <!--</mat-form-field>-->
                    <!--<mat-form-field [formGroupName]="i" *ngIf="form.controls.socialaccounts.controls[i].controls.social.value" fxFlex="35" style="margin-left: 15px">-->
                        <!--<input matInput formControlName="id" [(ngModel)]="form.controls.socialaccounts.controls[i].controls.id.value" placeholder="ID"/>-->
                    <!--</mat-form-field>-->
                    <!--<button *ngIf="form.controls.socialaccounts.controls[i].controls.social.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="deleteItem('social', i)">-->
                        <!--<mat-icon matTooltip="Remove">close</mat-icon>-->
                    <!--</button>-->
                    <!--<button *ngIf="form.controls.socialaccounts.controls[i].controls.social.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" color="green" (click)="addItem('social')">-->
                        <!--<mat-icon class="accent-600-fg" matTooltip="Add">add</mat-icon>-->
                    <!--</button>-->
                <!--</div>-->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12">location_on</mat-icon>-->
                    <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Address" [(ngModel)]="profile.address" formControlName="address">
                            </textarea>
                        <mat-error *ngIf="formErrors.address.required">
                            Address is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="100" style="margin-left: 15px">
                        <textarea matInput placeholder="Address 2" [(ngModel)]="profile.address2" formControlName="address2"></textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12">location_city</mat-icon>-->
                    <mat-form-field fxFlex="33">
                        <input matInput placeholder="City" [(ngModel)]="profile.city" formControlName="city">
                        <mat-error *ngIf="formErrors.city.required">
                            City is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="34" style="margin-left: 15px">
                        <input matInput placeholder="State" [(ngModel)]="profile.state" formControlName="state">
                        <mat-error *ngIf="formErrors.state.required">
                            State is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33" style="margin-left: 15px">
                        <input matInput #postalCode placeholder="Postal Code" [(ngModel)]="profile.postalCode" pattern="[0-9]{0,}" maxlength="5" formControlName="postalCode">
                        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        <mat-error *ngIf="formErrors.postalCode.maxlength">
                            Postal Code needs to be max. {{formErrors.postalCode.maxlength.requiredLength}} characters
                        </mat-error>
                        <mat-error *ngIf="formErrors.postalCode.required">
                            Postal Code is required!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!--<mat-icon class="mr-12 mt-12">language</mat-icon>-->
                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="Country" aria-label="Country" [(ngModel)]="profile.country" [matAutocomplete]="auto" formControlName="country">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let country of filteredCountries" [value]="country.Name">
                                <span class="flag-icon flag-icon-{{country.Code.toLowerCase()}}" style="vertical-align:middle;"></span>
                                <span>{{country.Name}}</span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="formErrors.country.required">
                            Country is required!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field fxFlex="100">
                        <mat-select placeholder="Adaptive" [(ngModel)]="profile.adaptive.status" formControlName="adaptive_status">
                            <mat-option [value]="'yes'" fxFlex="100">
                                Yes
                            </mat-option>
                            <mat-option [value]="'no'" fxFlex="100">
                                No
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="mb-24" *ngIf="profile.adaptive.status == 'yes'" fxLayout="row" fxLayoutAlign="start start">
                    <mat-list class="ml-24" fxFlex="100">
                        <div><h3>"Dissability" and "Severity"</h3></div>
                        <mat-list-item formArrayName="adaptive_items" fxLayout="row" *ngFor="let item of adaptive_items.controls; let i = index;">
                            <div [formGroupName]="i">
                                <div class="adaptitem">
                                    <mat-checkbox class="adaptitem" [(ngModel)]="form.controls.adaptive_items.controls[i].controls.status.value" formControlName="status" fxFlex="50">
                                        {{form.controls.adaptive_items.controls[i].controls.name.value}}
                                    </mat-checkbox>
                                    <div *ngIf="form.controls.adaptive_items.controls[i].controls.status.value" class="adaptvalue ml-10" fxFlex="50">
                                        <p>Mild</p>
                                        <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [(ngModel)]="form.controls.adaptive_items.controls[i].controls.value.value" formControlName="value"></mat-slider>
                                        <p>Severe</p>
                                        <p class="ml-20">{{form.controls.adaptive_items.controls[i].controls.value.value}}</p>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="mb-24 ml-24" fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field *ngIf="profile.adaptive.status == 'yes'" fxFlex="100">
                            <textarea matInput placeholder="Adaptive Note" [(ngModel)]="profile.adaptive.note" formControlName="adaptive_note">
                            </textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" class="mb-24" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div style="padding: 24px" >
                        <img class="profile-icon" [src]="logoURL ? logoURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
                    </div>
                    <div>
                        <h1>ID Card Picture</h1>
                        <p>We need a full face photo for your ID;<br>
                            You can upload a picture from <a [routerLink]="" (click)="fileInput.click()">here</a>.<br>
                            You can take a selfie using your web camera from <a [routerLink]="" (click)="cameracapture()">here</a>.<br>
                        </p>
                        <input hidden type="file" id="FileInput" accept="image/*" capture="camera" (change)="selectlogo($event)" #fileInput>
                    </div>
                </div>

                <div fxLayout="row" class="mb-24" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div style="padding: 24px" >
                        <img class="profile-icon" [src]="docURL ? docURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>
                    </div>
                    <div>
                        <h1>Documents</h1>
                        <p>We need a copy of a government identification to confirm your identity;<br>
                            (this can be drivers license, passport, birth certificate) NO school ID’s.<br>
                            You can upload an ID document scan from <a [routerLink]="" (click)="docInput.click()">here</a>.<br>
                            You can take a photo of your id using your web camera from <a [routerLink]="" (click)="doccameracapture()">here</a>.<br>
                        </p>
                        <input hidden type="file" id="DocInput" accept="image/*" capture="camera" (change)="selectDoc($event)" #docInput>
                    </div>
                </div>


                <!--<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">-->
                    <!--&lt;!&ndash;<mat-spinner *ngIf="progressflag" [diameter]="50"></mat-spinner>&ndash;&gt;-->
                    <!--&lt;!&ndash;<mat-icon class="mr-12 mt-12"></mat-icon>&ndash;&gt;-->
                    <!--<button type="button" class="md-raised md-primary photo-button" (click)="fileInput.click()"-->
                            <!--aria-label="add image" matTooltip="Add photo"-->
                            <!--*fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">-->
                        <!--<input hidden type="file" id="FileInput" (change)="selectFile($event)" #fileInput>-->
                        <!--&lt;!&ndash;<mat-spinner [diameter]="30"></mat-spinner>&ndash;&gt;-->
                        <!--<img class="profile-icon" [src]="logoURL ? logoURL:'assets/images/avatars/profile.jpg'" [alt]="'Photo'"/>-->

                    <!--</button>-->

                    <!--<button type="button" mat-raised-button color="" (click)="cameracapture()" style="margin-left: 10px">Take Picture</button>-->
                <!--</div>-->
                <br>
                <br>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <button mat-raised-button color="accent" [disabled]="disableBtn"><span>Save</span></button>
                    <!--<button type="button" mat-raised-button color="warn" style="margin-left: 5px" (click)="reset()">Reset</button>-->
                </div>

            </form>

        </div>

    </div>
    <!-- / CONTENT -->

</div>