<div class="contact-form-dialog">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{facility.name}} Information</span>
      <button mat-button class="mat-icon-button"
              (click)="dialogRef.close()"
              aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">
      <button type="button" class="md-raised md-primary photo-button"
              aria-label="add image">
        <!--<input hidden type="file" id="FileInput" (change)="uploadLogo($event)" #fileInput>-->
        <img class="photo-icon" [src]="facility.logo?facility.logo.url:'assets/images/avatars/team.png'" [alt]="'Photo'"/>
      </button>
      <!--<div class="contact-name">{{facility.name}}</div>-->
    </mat-toolbar-row>
  </mat-toolbar>


  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

      <div class="profile-box info-box general" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">General Information</div>
        </header>

        <div class="content">
          <div class="info-line">
            <div class="title">Name</div>
            <div class="info">{{facility.name}}</div>
          </div>

          <div class="info-line">
            <div class="title">Owner</div>
            <div class="info" *ngIf="owner">{{owner.firstName}} {{owner.lastName}}</div>
          </div>

          <div class="info-line">
            <div class="title">Country</div>
            <div class="info">{{facility.country}}</div>
          </div>

          <div class="info-line">
            <div class="title">State</div>
            <div class="info">{{facility.state}}</div>
          </div>

          <div class="info-line">
            <div class="title">City</div>
            <div class="info">{{facility.city}}</div>
          </div>

          <div class="info-line">
            <div class="title">Sports</div>
            <div class="info">{{facility.sports}}</div>
          </div>

          <div class="info-line">
            <div class="title">Address</div>
            <div class="info">{{facility.streetaddress}}</div>
          </div>

          <div class="info-line">
            <div class="title">Zipcode</div>
            <div class="info">{{facility.postalCode}}</div>
          </div>

          <div class="info-line" *ngIf="facility.description">
            <div class="title">Facility Description</div>
            <div class="info">{{facility.description}}</div>
          </div>

          <div class="info-line">
            <div class="title">Create Date</div>
            <div class="info">{{facility.date_create| date:'MM/dd/yyyy'}}</div>
          </div>

        </div>

      </div>

      <div class="profile-box info-box work" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">Adaptive Information</div>
        </header>

        <div class="content">

          <div class="info-line" *ngIf="facility.adaptive.status == 'yes'">
            <!--<div class="title">Adaptive</div>-->
            <!--<div class="info">{{team.adaptive.status}}</div>-->
            <div class="info mb-24">
              <mat-list class="mb-24">
                <div><h3>"Dissability" and "Severity"</h3></div>
                <mat-list-item *ngFor="let item of facility.adaptive.items">
                  <div class="adaptitem" fxFlex="50">
                    <mat-checkbox [checked]="item.status" disabled="true">
                      {{item.name}}
                    </mat-checkbox>
                  </div>
                  <div *ngIf="item.status" class="adaptvalue" fxFlex="50">
                    <p>Mild</p>
                    <mat-slider style="margin-left: 15px" min="1" max="5" step="1" [value]="item.value" disabled="true"></mat-slider>
                    <p>Severe</p>
                    <p class="ml-20">{{item.value}}</p>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
            <div class="info mb-24" *ngIf="facility.adaptive.status == 'yes' && facility.adaptive.note">
              <div class="title">Adaptive Description</div>
              <div class="info">{{facility.adaptive.note}}</div>
            </div>
          </div>

          <div class="info-line" *ngIf="facility.adaptive.status == 'no'">
            <div class="title">N/A</div>
          </div>

        </div>
      </div>

      <div class="profile-box info-box work" fxLayout="column">

        <header class="mat-accent-bg">
          <div class="title">Contact Information</div>
        </header>

        <div class="content">
          <div class="info-line">
            <div class="title">Email</div>
            <div *ngFor="let email of facility.emails">
              <div class="info">{{email['email']}} &nbsp;{{email['role']}}</div>
            </div>
          </div>

          <div class="info-line">
            <div class="title">Phone</div>
            <div *ngFor="let phone of facility.phones">
              <div class="info">{{phone['phone']}} &nbsp;{{phone['role']}}</div>
            </div>
          </div>

          <div class="info-line">
            <div class="title">Url</div>
            <div *ngFor="let url of facility.urls">
              <div class="info"><a href="https://www.npmjs.com/package/angular2-fontawesome" target="_blank">{{url['link']}}</a></div>
            </div>
          </div>

          <div class="info-line" *ngIf="facility.socialaccounts">
            <div class="title">Social Account</div>
            <div *ngFor="let socialaccount of facility.socialaccounts">
              <div class="info"> {{socialaccount['social']}} <a href="https://uk.linkedin.com/" target="_blank">{{socialaccount['id']}}</a></div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>


